:root {
  --main-color: #fbfbf5;
  --main-background-color: #32455f;
  --main-background-lighter-color: #99a2af;
  --box-shadow-color: #333;
  --green-color: #abb19e;
  --tint-color-text: #a297b4;
  --tint-color-text-hover: #564b67;
}
