*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="color"] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/open-sans/Light/OpenSans-Light.eot");
  src: url("/fonts/open-sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/Light/OpenSans-Light.woff2") format("woff2"), url("/fonts/open-sans/Light/OpenSans-Light.woff") format("woff"), url("/fonts/open-sans/Light/OpenSans-Light.ttf") format("truetype"), url("/fonts/open-sans/Light/OpenSans-Light.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/open-sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("/fonts/open-sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), url("/fonts/open-sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("/fonts/open-sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("/fonts/open-sans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/open-sans/Regular/OpenSans-Regular.eot");
  src: url("/fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/Regular/OpenSans-Regular.woff2") format("woff2"), url("/fonts/open-sans/Regular/OpenSans-Regular.woff") format("woff"), url("/fonts/open-sans/Regular/OpenSans-Regular.ttf") format("truetype"), url("/fonts/open-sans/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/open-sans/Italic/OpenSans-Italic.eot");
  src: url("/fonts/open-sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/Italic/OpenSans-Italic.woff2") format("woff2"), url("/fonts/open-sans/Italic/OpenSans-Italic.woff") format("woff"), url("/fonts/open-sans/Italic/OpenSans-Italic.ttf") format("truetype"), url("/fonts/open-sans/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/open-sans/Semibold/OpenSans-Semibold.eot");
  src: url("/fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("/fonts/open-sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("/fonts/open-sans/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("/fonts/open-sans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("/fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("/fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("/fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("/fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/open-sans/Bold/OpenSans-Bold.eot");
  src: url("/fonts/open-sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/Bold/OpenSans-Bold.woff2") format("woff2"), url("/fonts/open-sans/Bold/OpenSans-Bold.woff") format("woff"), url("/fonts/open-sans/Bold/OpenSans-Bold.ttf") format("truetype"), url("/fonts/open-sans/Bold/OpenSans-Bold.svg#OpenSansBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("/fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), url("/fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("/fonts/open-sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("/fonts/open-sans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2") format("woff2"), url("/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("/fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("/fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic") format("svg");
}

body {
  background-color: #fbfbf5;
  overflow-x: hidden;
}

a {
  color: #32455f;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.promo-main {
  margin-top: -20px;
}

@media (min-width: 61.25em) {
  .promo-main {
    margin-top: -100px;
  }
}

.container {
  width: 100%;
  padding: 0 1em;
  max-width: 1600px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
}

.col {
  margin: 0 1em;
}

/*
Text Input

Markup:
<form>
    <div class="form-field text-field">
        <input class="text-field__text" type="text" value="Without icon"/>        
    </div>
    <div class="form-field text-field">
        <input class="text-field__text text-field__text_has-icon" type="text" value="With Icon"/>
        <button class="text-field__icon text-field__icon_search">Search</button>
    </div>
</form>

Styleguide Form.Elements
*/
.text-field {
  position: relative;
}

.text-field__text {
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 2.5em;
  -webkit-box-shadow: inset 0 0.5em 0.5em 0 #ddd;
          box-shadow: inset 0 0.5em 0.5em 0 #ddd;
  width: 100%;
  border: none;
  padding: 0 1em;
}

.text-field__text_has-icon {
  padding-right: 3.5em;
}

.text-field__icon {
  position: absolute;
  z-index: 1;
  right: 1em;
  height: 100%;
}

.text-field__icon_search {
  text-indent: -9999px;
  width: 2em;
  background-image: url("/i/search.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.form-field + .form-field {
  margin-top: 2em;
}

/*
Header

Markup:
<header class="header">
      <div class="container">
          <div class="row">
              <div class="col">
                  <a class="logo" href="#">Hiking <strong>Life</strong></a>
              </div>
              <div class="col">
                  <div class="search-form header__search-form">
                      <form>
                          <div class="text-field">
                              <input placeholder="Search" class="text-field__text text-field__text_has-icon" type="text"/>
                              <button class="text-field__icon text-field__icon_search">Search</button>
                          </div>
                      </form>
                  </div>
                  <div class="main-nav">
                      <input class="main-nav__toogle" type="checkbox" />   
                      <span></span>
                      <span></span>
                      <span></span>        
                      <ul class="main-nav__list">
                        <li><a href="#" data-title="Home">Home</a></li>
                        <li><a href="#" data-title="About">About</a></li>
                        <li><a href="#" data-title="Info">Info</a></li>
                        <li><a href="#" data-title="Contact">Contact</a></li> 
                      </ul>    
                  </div>
              </div>                        
          </div>
      </div>
  </header>

Styleguide Header
*/
.header {
  padding: 2em 0;
  z-index: 100;
  position: relative;
}

.header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-form {
  max-width: 10em;
}

@media (min-width: 61.25em) {
  .header__search-form {
    max-width: 20em;
  }
}

@media (min-width: 48em) {
  .header .row .col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }
  .header .row .col:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*
Navigation

Markup:
<div class="main-nav">
    <input class="main-nav__toogle" type="checkbox" />   
    <span></span>
    <span></span>
    <span></span>        
    <ul class="main-nav__list">
      <li><a href="#" data-title="Home">Home</a></li>
      <li><a href="#" data-title="About">About</a></li>
      <li><a href="#" data-title="Info">Info</a></li>
      <li><a href="#" data-title="Contact">Contact</a></li> 
    </ul>    
</div>

Styleguide Navigation.Main Menu
*/
.main-nav {
  margin-left: 1em;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.main-nav span {
  display: block;
  width: 42px;
  height: 4px;
  margin-bottom: 8px;
  position: relative;
  background: #32455f;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.main-nav span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.main-nav span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.main-nav__toogle {
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.main-nav__toogle:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

.main-nav__toogle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.main-nav__toogle:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.main-nav__toogle:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.main-nav__list {
  position: absolute;
  width: 300px;
  margin: -50px 0 0 calc(-300px + 60px);
  padding: 2em;
  padding-top: 4em;
  background-color: #f3f3ee;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(calc(100% + 40px), 0);
          transform: translate(calc(100% + 40px), 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.main-nav__list li {
  padding: 10px 0;
  font-size: 1.25em;
}

.main-nav__list li a {
  text-decoration: none;
  color: rgba(50, 69, 95, 0.6);
  position: relative;
  -webkit-transition: 0.24s;
  transition: 0.24s;
  font-weight: 300;
}

.main-nav__list li a:after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: transparent;
  font-weight: 900;
  -webkit-transition: 0.24s;
  transition: 0.24s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.main-nav__list li a:hover {
  color: transparent;
}

.main-nav__list li a:hover:after {
  color: #32455f;
  font-weight: 900;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

@media (min-width: 48em) {
  .main-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 calc(1em + 5vw);
  }
  .main-nav span {
    display: none;
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__list {
    background: none;
    position: relative;
    width: auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  .main-nav__list li {
    padding: 0;
    line-height: 1.75;
  }
  .main-nav__list li a {
    color: #32455f;
  }
}

/*
Logo

Markup:
<div class="logo">Hiking <strong>Life</strong></div>

Styleguide Media.Logo
*/
.logo {
  display: block;
  font-family: 'Open Sans';
  padding-left: calc(35px + 0.5em);
  color: #32455f;
  position: relative;
  white-space: nowrap;
}

.logo a {
  text-decoration: none;
}

.logo::before {
  content: url('data:image/svg+xml; utf8, <svg fill="%2332455f" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.61695 13.40051"><title>logo</title><path d="M184.36,304.51559c.287.35694,1.75147,2.50048,2.62027,3.75552.46763.67551.91289,1.36656,1.38443,2.03926a5.08817,5.08817,0,0,0,.53623.55119c.59779-.86687,1.14923-1.66148,1.69456-2.46025.17626-.25817.31448-.54487.50853-.78782a.797.797,0,0,1,1.41.05486c.73657,1.01636,1.44106,2.056,2.15713,3.08717.26834.38643.54078.77063.791,1.16865.07158.11389.18056.29077.10467.41087a.38943.38943,0,0,1-.43291.08249c-.70211-.64122-1.83779-.45942-2.44405-1.3124-.10658-.14995-.51591-.09265-.78671-.11633-.58058-.05078-1.18274.17037-1.74-.21434a.449.449,0,0,0-.61528.21206c-.1247.19827-.22807.41-.337.60862.27522.38033.53771.77537.81089,1.15688.3655.51042.05522,1.03169-.17012.802-.13119-.13372-1.16542-1.69129-1.6876-2.44846a.78161.78161,0,0,0-1.02806-.38731,1.78034,1.78034,0,0,1-1.74664-.49215,9.28967,9.28967,0,0,0-.76623-.54283,1.46145,1.46145,0,0,0-1.63326-.09883,2.7955,2.7955,0,0,1-1.37577.19342,1.18778,1.18778,0,0,0-1.33588.72788c-.12122.257-.40316.52272-.58.43577-.37487-.18437-.09135-.54873.09007-.81621.79114-1.16644,1.57056-2.34084,2.36572-3.50451.48476-.70941,1.33007-1.91687,1.48669-2.1061A.42353.42353,0,0,1,184.36,304.51559Zm-3.143,4.57386a2.46485,2.46485,0,0,0,.76438.19737,3.89293,3.89293,0,0,0,.88061-.2906,2.22311,2.22311,0,0,1,2.33425.31192c.24594.19415.51505.35885.77252.53851a1.20163,1.20163,0,0,0,1.3618.02816L184.11,305.25408a.125.125,0,0,0-.20486-.00027Zm13.0549,2.19527a30.27211,30.27211,0,0,0-2.32521-3.286.22687.22687,0,0,0-.36642.05533,11.179,11.179,0,0,0-1.23486,2.08739c.45832.23655.79462.4942,1.34716.21476a1.48218,1.48218,0,0,1,1.62764.38453A5.47273,5.47273,0,0,0,194.27188,311.28472Z" transform="translate(-175.23937 -304.31511)"/><path d="M175.39835,316.60714c1.03846-1.63187,1.86068-2.849,2.88609-4.299.10876-.14005.17024-.28658.24437-.36891.09662-.1073.315-.22237.44868-.1568.16466.08078.12011.35561.06467.49478a4.31075,4.31075,0,0,1-.49595.7982c-.62805.9156-1.258,1.82993-1.91255,2.78a.69665.69665,0,0,0,.56979,1.09281l14.457,0a.2482.2482,0,0,0,.20589-.38733,9.28668,9.28668,0,0,1-1.40471-2.42971c.1744-.47669.52779-.04911.72893.24943.543.806,1.06443,1.62657,1.61555,2.47694a.25288.25288,0,0,0,.21007.11537h4.74041a.18884.18884,0,0,0,.15112-.29561c-.65157-.97167-1.24768-1.87963-1.8758-2.76487-.08158-.115-.28424-.41732-.13155-.53845.61159-.4852,2.10433,2.36966,2.83278,3.469.42558.64228-.35779.87257-.74672.87257H175.81778a.56829.56829,0,0,1-.57778-.57778A1.06666,1.06666,0,0,1,175.39835,316.60714Z" transform="translate(-175.23937 -304.31511)"/></svg>');
  position: absolute;
  width: 35px;
  height: 60px;
  left: 0;
  margin-top: -0.25em;
}

@media (min-width: 23.75em) {
  .logo {
    font-size: 1.2em;
    padding-left: calc(42px + 0.5em);
  }
  .logo::before {
    width: 42px;
    height: 72px;
  }
}

@media (min-width: 48em) {
  .logo {
    font-size: 1.5em;
    padding-left: calc(52.5px + 0.5em);
  }
  .logo::before {
    width: 52.5px;
    height: 90px;
  }
}

a.logo {
  text-decoration: none;
}

/*
Back Image

Markup:
<div class="back-image {{modifier_class}}" style="background-image:url('/i/main.jpg');">Text...</div>

.back-image_wavy-gray - gray wavy
.back-image_wavy-gray-diagonal - gray diagonal wavy
.back-image_wavy-green - green wavy
.back-image_dual-green - green with two corner waves
.back-image_tinted-purple - purple tinted
.back-image_tinted-blue - blue tinted

Styleguide Media.Back Image
*/
.back-image {
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: calc(100vw + 2em);
  position: relative;
  background-size: 250%;
}

.back-image_wavy-gray::before {
  background-image: url("/i/shape.png"), url("/i/shape.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center 25px;
  background-size: 130%, 130%;
}

.back-image_wavy-gray::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_wavy-gray-diagonal::before {
  background-image: url("/i/shape-diagonal.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.back-image_wavy-gray-diagonal::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_wavy-gray-diagonal::after {
  background-image: url("/i/shape-diagonal.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.back-image_wavy-gray-diagonal::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_wavy-green::before {
  background-image: url("/i/shape3.png"), url("/i/shape-green.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center 25px;
}

.back-image_wavy-green::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_dual-green {
  background: #4a4e3f;
  background-image: none !important;
}

.back-image_dual-green::before {
  background-image: url("/i/top-right-shape.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.back-image_dual-green::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_dual-green::after {
  background-image: url("/i/top-right-shape.png");
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.back-image_dual-green::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_tinted-purple::before {
  background: #564b67;
  opacity: 74%;
}

.back-image_tinted-purple::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.back-image_tinted-blue::before {
  background: #32455f;
  opacity: 74%;
}

.back-image_tinted-blue::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

@media (min-width: 48em) {
  .back-image {
    min-height: calc(1.2*(20vw + 200px));
    background-size: contain;
  }
  .back-image_wavy-gray::before {
    background-position: center top, center 40px;
  }
}

@media (min-width: 61.25em) {
  .back-image {
    min-height: calc(1.15*(15vw + 300px));
  }
}

@media (min-width: 64em) {
  .back-image {
    min-height: calc(1.15*(18vw + 320px));
  }
}

@media (min-width: 86.25em) {
  .back-image {
    min-height: calc((20vw + 450px));
  }
}

@media (min-width: 100em) {
  .back-image {
    min-height: calc((20vw + 550px));
  }
}
