*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="color"] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot");
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Light/OpenSans-Light.woff2") format("woff2"), url("../fonts/open-sans/Light/OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/Light/OpenSans-Light.ttf") format("truetype"), url("../fonts/open-sans/Light/OpenSans-Light.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot");
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff2") format("woff2"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/open-sans/Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/open-sans/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot");
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff2") format("woff2"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/open-sans/Italic/OpenSans-Italic.ttf") format("truetype"), url("../fonts/open-sans/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.eot");
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Bold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/open-sans/Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/Bold/OpenSans-Bold.svg#OpenSansBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic") format("svg");
}

/* nunito-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/nunito/files/nunito-cyrillic-ext-400-normal.woff2") format("woff2"), url("/fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* nunito-cyrillic-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/nunito/files/nunito-cyrillic-400-normal.woff2") format("woff2"), url("/fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* nunito-vietnamese-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/nunito/files/nunito-vietnamese-400-normal.woff2") format("woff2"), url("/fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* nunito-latin-ext-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/nunito/files/nunito-latin-ext-400-normal.woff2") format("woff2"), url("/fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* nunito-latin-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/nunito/files/nunito-latin-400-normal.woff2") format("woff2"), url("/fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* bebas-neue-latin-ext-400-normal*/
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/bebas-neue/files/bebas-neue-latin-ext-400-normal.woff2") format("woff2"), url("/fonts/bebas-neue/files/bebas-neue-all-400-normal.woff") format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* bebas-neue-latin-400-normal*/
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/bebas-neue/files/bebas-neue-latin-400-normal.woff2") format("woff2"), url("/fonts/bebas-neue/files/bebas-neue-all-400-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* raleway-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/raleway/files/raleway-cyrillic-ext-400-normal.woff2") format("woff2"), url("/fonts/raleway/files/raleway-all-400-normal.woff") format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* raleway-cyrillic-400-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/raleway/files/raleway-cyrillic-400-normal.woff2") format("woff2"), url("/fonts/raleway/files/raleway-all-400-normal.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* raleway-vietnamese-400-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/raleway/files/raleway-vietnamese-400-normal.woff2") format("woff2"), url("/fonts/raleway/files/raleway-all-400-normal.woff") format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* raleway-latin-ext-400-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/raleway/files/raleway-latin-ext-400-normal.woff2") format("woff2"), url("/fonts/raleway/files/raleway-all-400-normal.woff") format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* raleway-latin-400-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/raleway/files/raleway-latin-400-normal.woff2") format("woff2"), url("/fonts/raleway/files/raleway-all-400-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #fbfbf5;
  overflow-x: hidden;
}

a {
  color: #32455f;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.promo-main {
  margin-top: -7em;
  padding-top: 9em;
}

@media (min-width: 48em) {
  .promo-main {
    margin-top: -10vw;
    padding-top: 10vw;
  }
  .promo-main.back-image_wavy-gray {
    padding-top: calc(10vw);
  }
}

.info-tile {
  padding: 1em 0;
}

.info-tile__h2 {
  margin: 1em 0;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding: 0 1em;
}

@media (min-width: 48em) {
  .container {
    padding: 0 2em;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrap-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*
Header

Markup:
<header class="header">
      <div class="container">
          <div class="row">
              <div class="col">
                  <a class="logo" href="#">Hiking <strong>Life</strong></a>
              </div>
              <div class="col">
                  <div class="search-form header__search-form">
                      <form>
                          <div class="text-field">
                              <input tabindex="6" placeholder="Search" class="text-field__text text-field__text_has-icon" type="text"/>
                              <button tabindex="7" class="text-field__icon text-field__icon_search" type="submit">Search</button>
                          </div>
                      </form>
                  </div>
                  <div class="main-nav">
                      <input class="main-nav__toogle" type="checkbox" />   
                      <span></span>
                      <span></span>
                      <span></span>        
                      <ul class="main-nav__list">
                        <li><a href="#" data-title="Home">Home</a></li>
                        <li><a href="#" data-title="About">About</a></li>
                        <li><a href="#" data-title="Info">Info</a></li>
                        <li><a href="#" data-title="Contact">Contact</a></li> 
                      </ul>    
                  </div>
              </div>                        
          </div>
      </div>
  </header>

Styleguide Header
*/
.header {
  padding: 2em 0;
  z-index: 100;
  position: relative;
}

.header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.header .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .col:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__search-form {
  max-width: 10em;
}

@media (min-width: 48em) {
  .header {
    padding: 3em 0;
  }
  .header .row .col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }
  .header .row .col:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 61.25em) {
  .header__search-form {
    max-width: 20em;
  }
}

/*
Logo

Markup:
<div class="logo">Hiking <span>Life</span></div>

Styleguide Logo
*/
.logo {
  display: block;
  font-family: 'Open Sans';
  padding-left: calc(35px + 0.5em);
  color: #32455f;
  position: relative;
  white-space: nowrap;
}

.logo span {
  font-weight: bold;
}

.logo a {
  text-decoration: none;
}

.logo::before {
  content: url('data:image/svg+xml; utf8, <svg fill="%2332455f" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.61695 13.40051"><title>logo</title><path d="M184.36,304.51559c.287.35694,1.75147,2.50048,2.62027,3.75552.46763.67551.91289,1.36656,1.38443,2.03926a5.08817,5.08817,0,0,0,.53623.55119c.59779-.86687,1.14923-1.66148,1.69456-2.46025.17626-.25817.31448-.54487.50853-.78782a.797.797,0,0,1,1.41.05486c.73657,1.01636,1.44106,2.056,2.15713,3.08717.26834.38643.54078.77063.791,1.16865.07158.11389.18056.29077.10467.41087a.38943.38943,0,0,1-.43291.08249c-.70211-.64122-1.83779-.45942-2.44405-1.3124-.10658-.14995-.51591-.09265-.78671-.11633-.58058-.05078-1.18274.17037-1.74-.21434a.449.449,0,0,0-.61528.21206c-.1247.19827-.22807.41-.337.60862.27522.38033.53771.77537.81089,1.15688.3655.51042.05522,1.03169-.17012.802-.13119-.13372-1.16542-1.69129-1.6876-2.44846a.78161.78161,0,0,0-1.02806-.38731,1.78034,1.78034,0,0,1-1.74664-.49215,9.28967,9.28967,0,0,0-.76623-.54283,1.46145,1.46145,0,0,0-1.63326-.09883,2.7955,2.7955,0,0,1-1.37577.19342,1.18778,1.18778,0,0,0-1.33588.72788c-.12122.257-.40316.52272-.58.43577-.37487-.18437-.09135-.54873.09007-.81621.79114-1.16644,1.57056-2.34084,2.36572-3.50451.48476-.70941,1.33007-1.91687,1.48669-2.1061A.42353.42353,0,0,1,184.36,304.51559Zm-3.143,4.57386a2.46485,2.46485,0,0,0,.76438.19737,3.89293,3.89293,0,0,0,.88061-.2906,2.22311,2.22311,0,0,1,2.33425.31192c.24594.19415.51505.35885.77252.53851a1.20163,1.20163,0,0,0,1.3618.02816L184.11,305.25408a.125.125,0,0,0-.20486-.00027Zm13.0549,2.19527a30.27211,30.27211,0,0,0-2.32521-3.286.22687.22687,0,0,0-.36642.05533,11.179,11.179,0,0,0-1.23486,2.08739c.45832.23655.79462.4942,1.34716.21476a1.48218,1.48218,0,0,1,1.62764.38453A5.47273,5.47273,0,0,0,194.27188,311.28472Z" transform="translate(-175.23937 -304.31511)"/><path d="M175.39835,316.60714c1.03846-1.63187,1.86068-2.849,2.88609-4.299.10876-.14005.17024-.28658.24437-.36891.09662-.1073.315-.22237.44868-.1568.16466.08078.12011.35561.06467.49478a4.31075,4.31075,0,0,1-.49595.7982c-.62805.9156-1.258,1.82993-1.91255,2.78a.69665.69665,0,0,0,.56979,1.09281l14.457,0a.2482.2482,0,0,0,.20589-.38733,9.28668,9.28668,0,0,1-1.40471-2.42971c.1744-.47669.52779-.04911.72893.24943.543.806,1.06443,1.62657,1.61555,2.47694a.25288.25288,0,0,0,.21007.11537h4.74041a.18884.18884,0,0,0,.15112-.29561c-.65157-.97167-1.24768-1.87963-1.8758-2.76487-.08158-.115-.28424-.41732-.13155-.53845.61159-.4852,2.10433,2.36966,2.83278,3.469.42558.64228-.35779.87257-.74672.87257H175.81778a.56829.56829,0,0,1-.57778-.57778A1.06666,1.06666,0,0,1,175.39835,316.60714Z" transform="translate(-175.23937 -304.31511)"/></svg>');
  position: absolute;
  width: 35px;
  height: 60px;
  left: 0;
  margin-top: -0.25em;
}

@media (min-width: 23.75em) {
  .logo {
    font-size: 1.2em;
    padding-left: calc(42px + 0.5em);
  }
  .logo::before {
    width: 42px;
    height: 72px;
  }
}

@media (min-width: 48em) {
  .logo {
    font-size: 2em;
    padding-left: calc(70px + 0.5em);
  }
  .logo::before {
    width: 70px;
    height: 120px;
  }
}

a.logo {
  text-decoration: none;
}

/*
Text Input

Markup:
<form>
    <div class="text-field">
        <input tabindex="6" placeholder="Text" class="text-field__text" type="text"/>       
    </div>
</form>

Styleguide Form.Elements
*/
.text-field {
  position: relative;
}

.text-field__text {
  height: 3em;
  line-height: 3em;
  border-radius: 3em;
  -webkit-box-shadow: inset 0 0.5em 0.5em 0 #ddd;
          box-shadow: inset 0 0.5em 0.5em 0 #ddd;
  width: 100%;
  border: none;
  padding: 0 1em;
}

.text-field__text_has-icon {
  padding-right: 3.5em;
}

.text-field__icon {
  position: absolute;
  z-index: 1;
  right: 1em;
  height: 100%;
}

.text-field__icon_search {
  text-indent: -9999px;
  width: 2em;
  background-image: url("/i/search.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.form-field + .form-field {
  margin-top: 2em;
}

/*
Navigation

Markup:
<nav class="main-nav">
    <input class="main-nav__toogle" type="checkbox" />   
    <span></span>
    <span></span>
    <span></span>        
    <ul class="main-nav__list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Info</a></li>
      <li><a href="#">Contact</a></li> 
    </ul>    
</nav>

Styleguide Navigation.Main Menu
*/
.main-nav {
  margin-left: 1em;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Nunito';
  margin-top: 7px;
}

.main-nav span {
  display: block;
  width: 42px;
  height: 4px;
  margin-bottom: 8px;
  position: relative;
  background: #32455f;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.main-nav span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.main-nav span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.main-nav__toogle {
  display: block;
  width: 52px;
  height: 42px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.main-nav__toogle:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

.main-nav__toogle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.main-nav__toogle:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.main-nav__toogle:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.main-nav__list {
  position: absolute;
  width: 300px;
  margin: -50px 0 0 calc(-300px + 60px);
  padding: 2em;
  padding-top: 4em;
  background-color: #f3f3ee;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(calc(100% + 40px), 0);
          transform: translate(calc(100% + 40px), 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.main-nav__list li {
  padding: 10px 0;
  font-size: 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-nav__list li a {
  text-decoration: none;
  color: #32455f;
  font-weight: 300;
}

.main-nav__list li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 48em) {
  .main-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 1em;
  }
  .main-nav span {
    display: none;
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__list {
    background: none;
    position: relative;
    width: auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  .main-nav__list li {
    padding: 0;
    line-height: 1.75;
    margin: 0 0.25em;
    text-align: center;
  }
}

@media (min-width: 61.25em) {
  .main-nav__list li {
    margin: 0 4vw;
  }
}

/*
Back Image

Markup:
<div class="back-image {{modifier_class}}" style="background-image:url('/i/main.jpg');min-height:600px">Text...</div>

.back-image_wavy-gray - gray wavy
.back-image_wavy-gray-diagonal - gray diagonal wavy
.back-image_wavy-green - green wavy
.back-image_dual-green - green with two corner waves
.back-image_tinted-purple - purple tinted
.back-image_tinted-blue - blue tinted

Styleguide Media.Back Image
*/
.back-image {
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: calc(100vw + 2em);
  position: relative;
  background-size: cover;
  z-index: 0;
}

.back-image::before {
  z-index: -1;
}

.back-image::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

.back-image::after {
  z-index: -1;
}

.back-image::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

.back-image__title {
  position: relative;
  margin: 0.25em 0;
}

.back-image__title::before {
  background-color: rgba(251, 251, 245, 0.9);
  z-index: -1;
}

.back-image__title::before {
  content: '';
  position: absolute;
  left: -0.5em;
  right: -0.5em;
  top: -0.5em;
  width: calc(100% + 1em);
  height: calc(100% + 1em);
}

.back-image_wavy-gray-diagonal::before {
  background-image: url("/i/shape-diagonal.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.back-image_wavy-gray-diagonal::after {
  background-image: url("/i/shape-diagonal.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.back-image_wavy-green::before {
  background-image: url("/i/shape3.png"), url("/i/shape-green.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center 25px;
}

.back-image_dual-green {
  background: #4a4e3f;
  background-image: none !important;
}

.back-image_dual-green::before {
  background-image: url("/i/top-right-shape.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.back-image_dual-green::after {
  background-image: url("/i/top-right-shape.png");
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.back-image_tinted-purple::before {
  background: #564b67;
  opacity: 74%;
}

.back-image_tinted-blue::before {
  background: #32455f;
  opacity: 74%;
}

@media (min-width: 48em) {
  .back-image {
    min-height: calc((53vw));
    background-size: 100% auto;
  }
  .back-image_wavy-gray::before, .back-image_wavy-gray::after {
    background-image: url("/i/shape.svg");
    background-repeat: no-repeat;
    background-size: 130%;
  }
  .back-image_wavy-gray::before, .back-image_wavy-gray::after {
    -webkit-filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.1));
  }
  .back-image_wavy-gray::before {
    background-position: center 40px;
  }
  .back-image_wavy-gray::after {
    background-position: center top;
  }
  .back-image__title::before {
    display: none;
  }
}

/*
Search Form

Markup:
<div class="search-form">
    <form>
        <div class="text-field">
            <input placeholder="Search" class="text-field__text text-field__text_has-icon" type="text"/>
            <button class="text-field__icon text-field__icon_search">Search</button>
        </div>
    </form>
</div>

Styleguide Form.Search
*/
/*
H1-6

Markup:
<div class="h1">H1</div>
<div class="h2">H2</div>
<div class="h3">H3</div>
<div class="h4">H4</div>
<div class="h5">H5</div>
<div class="h6">H6</div>

Styleguide Typography.H1-6
*/
.h1 {
  font-size: 3rem;
}

@media (min-width: 64em) {
  .h1 {
    font-size: 4rem;
  }
}

@media (min-width: 100em) {
  .h1 {
    font-size: 6.25rem;
  }
}

.h2 {
  font-size: 2rem;
  letter-spacing: 3px;
}

@media (min-width: 48em) {
  .h2 {
    letter-spacing: 7px;
  }
}

@media (min-width: 64em) {
  .h2 {
    font-size: 3rem;
  }
}

@media (min-width: 100em) {
  .h2 {
    font-size: 4.67rem;
  }
}

.h3 {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

@media (min-width: 100em) {
  .h3 {
    font-size: 2.5rem;
  }
}

/*
Titles

Markup:
<div class="title {{modifier_class}} h1">
    <div class="title__main">Discover your<br/>next Hike</div>
    <div class="title__subtitle">Edge of the world</div>     
</div>

.title_underlined - underlined

Styleguide Typography.Titles
*/
.title {
  font-family: 'Bebas Neue';
  line-height: 1;
  position: relative;
}

.title__subtitle {
  font-size: 0.5em;
  letter-spacing: 4px;
  display: block;
}

.title__main {
  display: block;
}

.title__main + .title__subtitle {
  margin: 0.25em 0;
}

.title_main-color {
  color: #32455f;
}

.title_underlined {
  margin-bottom: 1.5em;
}

.title_underlined::after {
  content: "";
  position: absolute;
  display: block;
  width: 2em;
  border-bottom: 9px solid currentColor;
  bottom: -0.5em;
}

/*
Corner

Markup:
<div class="corner-bl">Edge of the world</div> 

Styleguide Decorative.Corner
*/
.corner {
  display: inline-block;
  position: relative;
}

.corner-bl::before {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  left: -0.5em;
  bottom: -0.25em;
}

.corner-bl::before {
  border-left: solid 2px currentColor;
  border-bottom: solid 2px currentColor;
}

.day-card {
  padding: 2em;
  -webkit-box-shadow: 0 5px 10px #aaa;
          box-shadow: 0 5px 10px #aaa;
  border-radius: 5px;
  color: #32455f;
  width: 100%;
}

.day-card + .day-card {
  margin-top: 2em;
}

.day-card__day-time {
  font-family: 'Bebas Neue';
  display: block;
}

.day-card__description {
  letter-spacing: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  padding-right: 1em;
  font-weight: bold;
}

.day-card__icon {
  margin: 0 auto;
}

.day-card__meta {
  padding: 2em 0 0 0;
  border-top: solid 1px #32455f;
  margin: 2em 0 0 0;
}

.day-card__day-time {
  font-size: 1.5em;
  margin: 0.5em 0;
}

@media (min-width: 61.25em) {
  .day-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
  .day-card + .day-card {
    margin-left: 5vw;
    margin-top: 0;
  }
  .day-card__description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
}

.dashed-ul {
  margin-left: 1em;
  list-style-type: none;
  font-family: 'Raleway';
  font-size: 1rem;
}

.dashed-ul li {
  position: relative;
  margin: 1em 0;
}

.dashed-ul li::before {
  content: "-";
  position: absolute;
  left: -1em;
}

@media (min-width: 100em) {
  .dashed-ul {
    font-size: 1.25rem;
  }
}

/*
Icons

Markup:
<span class="icon icon_rounded {{modifier_class}}">icon rounded</span>  

.icon_mountains - mountains
.icon_man - man
.icon_backpack - backpack

Styleguide Icons
*/
.icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  text-indent: -99999999px;
  position: relative;
  width: 140px;
  height: 140px;
}

.icon::after {
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.icon_rounded {
  border-radius: 50%;
  background-color: #32455f;
}

.icon_rounded::after {
  -webkit-mask-size: 70%;
          mask-size: 70%;
  background-color: #fff;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
}

.icon_rounded.icon_backpack::after {
  -webkit-mask-size: 50%;
          mask-size: 50%;
}

.icon_mountains::after {
  -webkit-mask-image: url("/i/icon-mountains.svg");
          mask-image: url("/i/icon-mountains.svg");
}

.icon_backpack::after {
  -webkit-mask-image: url("/i/icon-backpack.svg");
          mask-image: url("/i/icon-backpack.svg");
}

.icon_man::after {
  -webkit-mask-image: url("/i/icon-man.svg");
          mask-image: url("/i/icon-man.svg");
}

/*
Indicator

Markup:
<div class="indicator {{modifier_class}}">hardness: n/5</div>

.indicator_fill-20 - man
.indicator_fill-40 - backpack
.indicator_fill-60 - mountains
.indicator_fill-80 - man
.indicator_fill-100 - backpack

Styleguide Indicator
*/
.indicator {
  display: inline-block;
  width: 110px;
  text-indent: -9999px;
  position: relative;
  background: url('data:image/svg+xml; utf8, <svg height="22" width="22" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="4" stroke="%2332455f" fill="transparent" stroke-width="1"></circle></svg>') repeat-x;
}

.indicator::after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: url('data:image/svg+xml; utf8, <svg height="22" width="22" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="4" stroke="%2332455f" fill="32455f" stroke-width="1"></circle></svg>') repeat-x;
}

.indicator_fill-20::after {
  width: 20%;
}

.indicator_fill-40::after {
  width: 40%;
}

.indicator_fill-60::after {
  width: 60%;
}

.indicator_fill-80::after {
  width: 80%;
}

.indicator_fill-100::after {
  width: 100%;
}
