*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="color"] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot");
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Light/OpenSans-Light.woff2") format("woff2"), url("../fonts/open-sans/Light/OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/Light/OpenSans-Light.ttf") format("truetype"), url("../fonts/open-sans/Light/OpenSans-Light.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot");
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff2") format("woff2"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/open-sans/Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/open-sans/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot");
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff2") format("woff2"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/open-sans/Italic/OpenSans-Italic.ttf") format("truetype"), url("../fonts/open-sans/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.eot");
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Bold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/open-sans/Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/Bold/OpenSans-Bold.svg#OpenSansBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg");
}

/* nunito-cyrillic-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/nunito/files/nunito-cyrillic-400-normal.woff2") format("woff2"), url("../fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* nunito-latin-400-normal*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/nunito/files/nunito-latin-400-normal.woff2") format("woff2"), url("../fonts/nunito/files/nunito-all-400-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/nunito/files/nunito-latin-700-normal.woff2") format("woff2"), url("../fonts/nunito/files/nunito-all-700-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* bebas-neue-latin-400-normal*/
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/bebas-neue/files/bebas-neue-latin-400-normal.woff2") format("woff2"), url("../fonts/bebas-neue/files/bebas-neue-all-400-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* raleway-latin-300-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/raleway/files/raleway-latin-300-normal.woff2") format("woff2"), url("../fonts/raleway/files/raleway-latin-300-normal.woff") format("woff");
}

/* raleway-latin-400-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/raleway/files/raleway-latin-400-normal.woff2") format("woff2"), url("../fonts/raleway/files/raleway-latin-400-normal.woff") format("woff");
}

/* raleway-latin-600-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/raleway/files/raleway-latin-600-normal.woff2") format("woff2"), url("../fonts/raleway/files/raleway-latin-600-normal.woff") format("woff");
}

/* raleway-latin-700-normal*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/raleway/files/raleway-latin-700-normal.woff2") format("woff2"), url("../fonts/raleway/files/raleway-latin-700-normal.woff") format("woff");
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #fbfbf5;
  overflow-x: hidden;
  color: #32455f;
  font-family: 'Raleway';
}

a {
  color: #32455f;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.promo-main {
  margin-top: -7em;
  padding-top: 9em;
}

@media (min-width: 48em) {
  .promo-main {
    margin-top: -10vw;
    padding-top: 10vw;
  }
  .promo-main.back-image_wavy {
    min-height: calc((53vw));
    padding-top: calc(10vw);
  }
}

.info-tile {
  padding: 2em 0;
}

@media (min-width: 48em) {
  .info-tile {
    padding: 5em 0;
  }
}

.tint {
  color: #564b67;
}

.green {
  color: #5f6551;
}

.line {
  border-bottom: 1px solid #5f6551;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding: 0 1.5em;
}

@media (min-width: 48em) {
  .container {
    padding: 0 2em;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.row_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*
Header

Markup:
<header class="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="logo" href="#" alt="Hiking Life Logo">Hiking <span>Life</span></a>
        </div>
        <div class="col">
          <nav class="main-nav">
            <input class="main-nav__toogle" type="checkbox" aria-label="Main navigation switcher" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="main-nav__list" aria-label="Main Navigation">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Info</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="search-form header__search-form">
            <form role="search">
              <div class="text-field">
                <input aria-label="Search" mini-cardholder="Search" class="text-field__text text-field__text_has-icon"
                  type="text" />
                <button class="text-field__icon text-field__icon_search" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

Styleguide Header
*/
.header {
  padding: 2em 0;
  z-index: 100;
  position: relative;
}

.header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.header .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .col:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__search-form {
  max-width: 10em;
}

@media (min-width: 48em) {
  .header {
    padding: 3em 0;
  }
  .header .row .col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }
  .header .row .col:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 61.25em) {
  .header__search-form {
    max-width: 20em;
  }
}

/*
Logo

Markup:
<div class="logo">Hiking <span>Life</span></div>

Styleguide Logo
*/
.logo {
  display: block;
  font-family: 'Open Sans';
  padding-left: calc(35px + 0.5em);
  color: #32455f;
  position: relative;
  white-space: nowrap;
}

.logo span {
  font-weight: bold;
}

.logo a {
  text-decoration: none;
}

.logo::before {
  content: url('data:image/svg+xml; utf8, <svg fill="%2332455f" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.61695 13.40051"><title>logo</title><path d="M184.36,304.51559c.287.35694,1.75147,2.50048,2.62027,3.75552.46763.67551.91289,1.36656,1.38443,2.03926a5.08817,5.08817,0,0,0,.53623.55119c.59779-.86687,1.14923-1.66148,1.69456-2.46025.17626-.25817.31448-.54487.50853-.78782a.797.797,0,0,1,1.41.05486c.73657,1.01636,1.44106,2.056,2.15713,3.08717.26834.38643.54078.77063.791,1.16865.07158.11389.18056.29077.10467.41087a.38943.38943,0,0,1-.43291.08249c-.70211-.64122-1.83779-.45942-2.44405-1.3124-.10658-.14995-.51591-.09265-.78671-.11633-.58058-.05078-1.18274.17037-1.74-.21434a.449.449,0,0,0-.61528.21206c-.1247.19827-.22807.41-.337.60862.27522.38033.53771.77537.81089,1.15688.3655.51042.05522,1.03169-.17012.802-.13119-.13372-1.16542-1.69129-1.6876-2.44846a.78161.78161,0,0,0-1.02806-.38731,1.78034,1.78034,0,0,1-1.74664-.49215,9.28967,9.28967,0,0,0-.76623-.54283,1.46145,1.46145,0,0,0-1.63326-.09883,2.7955,2.7955,0,0,1-1.37577.19342,1.18778,1.18778,0,0,0-1.33588.72788c-.12122.257-.40316.52272-.58.43577-.37487-.18437-.09135-.54873.09007-.81621.79114-1.16644,1.57056-2.34084,2.36572-3.50451.48476-.70941,1.33007-1.91687,1.48669-2.1061A.42353.42353,0,0,1,184.36,304.51559Zm-3.143,4.57386a2.46485,2.46485,0,0,0,.76438.19737,3.89293,3.89293,0,0,0,.88061-.2906,2.22311,2.22311,0,0,1,2.33425.31192c.24594.19415.51505.35885.77252.53851a1.20163,1.20163,0,0,0,1.3618.02816L184.11,305.25408a.125.125,0,0,0-.20486-.00027Zm13.0549,2.19527a30.27211,30.27211,0,0,0-2.32521-3.286.22687.22687,0,0,0-.36642.05533,11.179,11.179,0,0,0-1.23486,2.08739c.45832.23655.79462.4942,1.34716.21476a1.48218,1.48218,0,0,1,1.62764.38453A5.47273,5.47273,0,0,0,194.27188,311.28472Z" transform="translate(-175.23937 -304.31511)"/><path d="M175.39835,316.60714c1.03846-1.63187,1.86068-2.849,2.88609-4.299.10876-.14005.17024-.28658.24437-.36891.09662-.1073.315-.22237.44868-.1568.16466.08078.12011.35561.06467.49478a4.31075,4.31075,0,0,1-.49595.7982c-.62805.9156-1.258,1.82993-1.91255,2.78a.69665.69665,0,0,0,.56979,1.09281l14.457,0a.2482.2482,0,0,0,.20589-.38733,9.28668,9.28668,0,0,1-1.40471-2.42971c.1744-.47669.52779-.04911.72893.24943.543.806,1.06443,1.62657,1.61555,2.47694a.25288.25288,0,0,0,.21007.11537h4.74041a.18884.18884,0,0,0,.15112-.29561c-.65157-.97167-1.24768-1.87963-1.8758-2.76487-.08158-.115-.28424-.41732-.13155-.53845.61159-.4852,2.10433,2.36966,2.83278,3.469.42558.64228-.35779.87257-.74672.87257H175.81778a.56829.56829,0,0,1-.57778-.57778A1.06666,1.06666,0,0,1,175.39835,316.60714Z" transform="translate(-175.23937 -304.31511)"/></svg>');
  position: absolute;
  width: 35px;
  height: 60px;
  left: 0;
  margin-top: -0.25em;
}

@media (min-width: 23.75em) {
  .logo {
    font-size: 1.2em;
    padding-left: calc(42px + 0.5em);
  }
  .logo::before {
    width: 42px;
    height: 72px;
  }
}

@media (min-width: 48em) {
  .logo {
    font-size: 2em;
    padding-left: calc(70px + 0.5em);
  }
  .logo::before {
    width: 70px;
    height: 120px;
  }
}

a.logo {
  text-decoration: none;
}

a.logo:hover {
  color: #32455f;
}

/*
Text Input

Markup:
<form>
    <div class="text-field form-field">
        <input placeholder="Text" class="text-field__text" type="text"/>              
    </div>
    <div class="text-field form-field">
        <input placeholder="Search" class="text-field__text text-field__text_has-icon" type="text"/>
        <button class="text-field__icon text-field__icon_search">Search</button>
    </div>
</form>

Styleguide Form.Elements
*/
.text-field {
  position: relative;
}

.text-field__text {
  height: 3em;
  line-height: 3em;
  border-radius: 3em;
  -webkit-box-shadow: inset 0 0.5em 0.5em 0 #ddd;
          box-shadow: inset 0 0.5em 0.5em 0 #ddd;
  width: 100%;
  border: none;
  padding: 0 1em;
}

.text-field__text_has-icon {
  padding-right: 3.5em;
}

.text-field__icon {
  position: absolute;
  z-index: 1;
  right: 1em;
  height: 100%;
}

.text-field__icon_search {
  text-indent: -9999px;
  width: 2em;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20style%3D%22fill%3A%2332455f%22%20d%3D%22M503.847%20432.949l-89.897-89.897-.006-.006-.006-.006-32.135-32.135c-10.855-10.856-28.522-10.86-39.381%200l-3.939%203.939-13.571-13.571c26.587-31.878%2042.607-72.861%2042.607-117.519C367.517%2082.432%20285.085%200%20183.762%200S.009%2082.432.009%20183.754s82.43%20183.754%20183.753%20183.754c44.658%200%2085.641-16.02%20117.519-42.606l13.571%2013.57-3.94%203.94c-10.854%2010.857-10.854%2028.523.002%2039.381l122.043%20122.043c10.881%2010.883%2028.499%2010.886%2039.383.001l31.506-31.506c10.859-10.857%2010.859-28.523.001-39.382zm-320.085-98.858c-82.896%200-150.337-67.441-150.337-150.337S100.866%2033.417%20183.762%2033.417%20334.1%20100.858%20334.1%20183.754s-67.442%20150.337-150.338%20150.337zm154.72%2028.012l23.629-23.629%2016.388%2016.388-23.629%2023.629-16.388-16.388zm114.167%20114.166l-74.15-74.15%2023.629-23.629%2074.15%2074.15-23.629%2023.629z%22%2F%3E%3Cpath%20style%3D%22fill%3A%2332455f%22%20d%3D%22M183.76%2066.835c-9.228%200-16.709%207.481-16.709%2016.709s7.481%2016.709%2016.709%2016.709c46.045%200%2083.505%2037.457%2083.505%2083.5%200%209.228%207.481%2016.709%2016.709%2016.709s16.709-7.481%2016.709-16.709c0-64.469-52.452-116.918-116.923-116.918z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.text-field__icon_search:active {
  background-size: 93%;
}

.text-field button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.form-field + .form-field {
  margin-top: 2em;
}

/*
Button

Markup:
<a href="#" class="button {{modifier_class}}">see more</a>

.button_rounded - rounded
.button_color-tint - tint
.button_color-green - green

Styleguide Button
*/
.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Nunito';
  font-weight: 700;
  padding: 0.25em 2em;
  text-align: center;
  letter-spacing: 3px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  background-color: #fbfbf5;
  color: #32455f;
}

.button:hover {
  background-color: #ececd1;
}

.align-right .button {
  margin-right: -1em;
}

.button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button_rounded {
  border-radius: 1em;
}

.button_color-tint {
  background-color: #564b67;
  color: #fbfbf5;
}

.button_color-tint:hover {
  background-color: #3d3649;
}

.button_color-green {
  background-color: #5f6551;
  color: #fbfbf5;
}

.button_color-green:hover {
  background-color: #44493a;
}

/*
Navigation

Markup:
<nav class="main-nav">
    <input class="main-nav__toogle" type="checkbox" />   
    <span></span>
    <span></span>
    <span></span>        
    <ul class="main-nav__list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Info</a></li>
      <li><a href="#">Contact</a></li> 
    </ul>    
</nav>

Styleguide Navigation.Main Menu
*/
.main-nav {
  margin-left: 1em;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Nunito';
  margin-top: 7px;
}

.main-nav span {
  display: block;
  width: 42px;
  height: 4px;
  margin-bottom: 8px;
  position: relative;
  background: #32455f;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.main-nav span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.main-nav span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.main-nav__toogle {
  display: block;
  width: 52px;
  height: 42px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.main-nav__toogle:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

.main-nav__toogle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.main-nav__toogle:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.main-nav__toogle:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.main-nav__list {
  position: absolute;
  width: 300px;
  margin: -50px 0 0 calc(-300px + 60px);
  padding: 2em;
  padding-top: 4em;
  background-color: #f3f3ee;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(calc(100% + 40px), 0);
          transform: translate(calc(100% + 40px), 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.main-nav__list li {
  padding: 10px 0;
  font-size: 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-nav__list li a {
  text-decoration: none;
  font-weight: 300;
}

.main-nav__list li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 48em) {
  .main-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 1em;
  }
  .main-nav span {
    display: none;
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__list {
    background: none;
    position: relative;
    width: auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  .main-nav__list li {
    padding: 0;
    line-height: 1.75;
    margin: 0 0.25em;
    text-align: center;
  }
}

@media (min-width: 80em) {
  .main-nav {
    margin: 0 4em;
  }
}

/*
Back Image Wavy

Markup:
<div class="back-image_wavy back-image {{modifier_class}}" style="background-image:url('../i/main.jpg');min-height:800px">
    Text...
</div>

.back-image_wavy-gray - gray wavy
.back-image_wavy-gray-diagonal - gray diagonal wavy

Styleguide Media.Back Image Wavy
*/
/*
Back Image Green

Markup:
<div class="info-tile promo-event back-image back-image_dual-green"
      style="background-image:url('../i/view.jpg');">
      <div class="container">
        <div class="row">
          <div class="promo-event__main">
            <h2 class="title title_underlined h3 info-tile__h2">
              HOW TO RECOVER FROM
              A HIKE
            </h2>
            <div class="h3 title">
              <time datetime="2020-05-21">21.05.20</time>
            </div>           
          </div>
          <div class="promo-event__more">
            <div class="decrease">
              50<span>%<span>off</span></span>
            </div>
            <p class="h4 title">
              Lorem Ipsum Consectetur
            </p>  
            <time class="promo-event__time" datetime="15:30">15.30 hs.</time>                          
          </div>
        </div>
      </div>
    </div>
     <div class="promo-event promo-event_inversed green back-image back-image_wavy back-image_wavy-gray-diagonal back-image_wavy-gray-diagonal_inversed back-image_wavy-gray-diagonal_bicolor"
      style="background-image:url('../i/climbing.jpg');background-position: 50% -10%;">
      <div class="container">
        <div class="row">
          <div class="promo-event__main">
            <h2 class="title title_color-green h2 back-image__title promo-event__title">
                <div class="title__main"><span
                    class="corner corner_type-tr">mountaineering </span><br /><span class="corner corner_type-bl">ice Climbing</span>
                </div>
              </h2>
            <div class="text">
              <h3 class="h4 title">2. activities</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
              </p>
              <div class="box-underlined-above">
                <p>
                  <strong>10 modules <br />
                    divided into 7 weekends</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="promo-event__more">
            <div class="row">
              <div class="">
                <h4 class="h4 title">
                  <time datetime="2020-09-28">28.09.20</time>
                </h4>
                <time class="promo-event__time" datetime="15:30">15.30 hs.</time>
              </div>
              <div class="promo-event__price">
                Price<br />
                $900
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

Styleguide Media.Back Image Green
*/
/*
Back Image Tinted

Markup:
<div class="back-image {{modifier_class}}" style="background-image:url('../i/main.jpg');min-height:300px">
    Text...
</div>

.back-image_tinted-purple - purple tinted
.back-image_tinted-blue - blue tinted

Styleguide Media.Back Image Tinted
*/
.back-image {
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  z-index: 0;
}

.back-image::before, .back-image::after {
  z-index: -1;
}

.back-image::before, .back-image::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

.back-image__title {
  position: relative;
  margin: 0 0 1em;
}

.back-image_centered {
  background-position: 40% bottom;
}

.back-image_wavy {
  min-height: calc(100vw + 2em);
}

.back-image_wavy::before, .back-image_wavy::after {
  background-repeat: no-repeat;
}

.back-image_wavy .back-image__title::before {
  background-color: rgba(251, 251, 245, 0.9);
  z-index: -1;
}

.back-image_wavy .back-image__title::before {
  content: '';
  position: absolute;
  left: -0.5em;
  right: -0.5em;
  top: -0.5em;
  width: calc(100% + 1em);
  height: calc(100% + 1em);
}

.back-image_wavy-gray-diagonal {
  background-size: cover;
  padding: 3em 0;
}

.back-image_wavy-gray-diagonal::before {
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.back-image_wavy-gray-diagonal .back-image__title::before {
  display: none;
}

.back-image_wavy-gray-diagonal_inversed::before, .back-image_wavy-gray-diagonal_inversed::after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.back-image_dual-green {
  color: #fbfbf5;
  background: #4a4e3f;
  background-image: none !important;
  border-top: #4a4e3f 5px solid;
  border-bottom: #4a4e3f 5px solid;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.back-image_tinted-purple::before {
  background: #564b67;
  opacity: 74%;
}

.back-image_tinted-blue::before {
  background: #32455f;
  opacity: 74%;
}

.back-image_tinted-purple, .back-image_tinted-blue {
  color: #fbfbf5;
  padding: 2em 0;
}

@media (min-width: 48em) {
  .back-image_wavy {
    min-height: 100vh;
    background-size: 100% auto;
  }
  .back-image_wavy::before, .back-image_wavy::after {
    background-size: 130%;
  }
  .back-image_wavy::before, .back-image_wavy::after {
    -webkit-filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.1));
  }
  .back-image_wavy::before {
    background-position: center 40px;
  }
  .back-image_wavy::after {
    background-position: center top;
  }
  .back-image_wavy .back-image__title::before {
    display: none;
  }
  .back-image_wavy-gray::before, .back-image_wavy-gray::after {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202023.172%20535.44%22%3E%3Cpath%20d%3D%22M.087%20311.101Q.087%20157.63%200%204.158C-.003.86.488.001%204.029.001Q1011.592.157%202019.155%200c3.56%200%204.02.892%204.017%204.168q-.152%20177.467-.085%20354.933c-1.436%204.932-5.711%207.564-8.936%2011.054a31.755%2031.755%200%200%201-5.872%203.76c-11.686%205.627-23.091%2011.8-34.56%2017.846-8.708%204.591-17.777%207.39-27.731%206.677-5.35-.153-10.551-1.43-15.813-2.205-8.344-1.229-16.676-1.444-24.82.584-14.58%203.63-29.019%202.02-43.613.201-14.65-1.826-28.855-4.953-42.414-10.882a57.875%2057.875%200%200%200-23.906-4.552c-26.604.29-51.841-6.269-76.48-15.171-13.1-4.733-26.228-8.804-40.016-10.396-14.644-1.692-27.93-7.418-41.344-12.895a53.106%2053.106%200%200%200-20.52-3.692c-4.998.02-10.005-.177-14.994.045a48.484%2048.484%200%200%201-23.358-4.427c-15.697-7.532-32.587-11.726-48.668-18.118-15.227-6.054-31.239-9.458-46.752-14.522a152.285%20152.285%200%200%201-19.862-8.14c-29.167-14.312-57.904-29.471-86.916-44.087-29.795-15.01-57.715-33.22-86.097-50.636-14.644-8.986-29.921-16.804-45.318-24.36-11.334-5.561-23.82-7.359-36.117-9.566-7.545-1.355-15.05-2.888-22.54-4.514-20.502-4.45-41.046-3.515-61.529.024-6.475%201.12-12.159%204.71-17.674%208.026-10.808%206.499-22.584%208.54-34.832%209.297-8.59.53-17.083%202.1-23.997%207.493-13.869%2010.816-29.178%2019.19-44.522%2027.584-16.259%208.894-30.587%2020.76-46.297%2030.514a67.097%2067.097%200%200%201-9.28%204.886%2077.357%2077.357%200%200%200-29.05%2021.551c-8.286%209.74-18.79%2016.896-28.078%2025.45-9.98%209.191-21.67%2015.848-33.07%2023.076-19.254%2012.21-37.575%2025.855-54.148%2041.656-7.29%208.014-16.385%2013.623-25.765%2018.688a124.368%20124.368%200%200%200-29.281%2021.53c-12.851%2012.906-27.16%2024.053-40.994%2035.791-15.623%2013.256-31.134%2026.671-47.792%2038.594-13.408%209.595-26.008%2020.428-40.054%2028.966-19.985%2012.147-42.229%2018.548-65.339%2022.158-23.03%203.598-46.127%206.38-69.37%208.143-10.315.782-20.554%201.86-30.764-.692a40.987%2040.987%200%200%201-7.554-2.588%20121.642%20121.642%200%200%200-40.842-10.699c-20.302-1.92-39.113-9.337-57.956-16.487-12.058-4.575-22.506-12.255-33.957-17.999-27.418-13.753-53.802-29.333-80.218-44.87-4.288-2.522-9.018-4.291-13.554-6.375a117.9%20117.9%200%200%201-30.656-20.336c-12.992-11.884-28.498-20.256-43.547-29.09-24.985-14.665-50.637-28.162-76.147-41.905-20.866-11.241-42.198-21.328-64.624-29.043a11.365%2011.365%200%200%201-5.462-3.347Z%22%20style%3D%22fill%3A%23fbfbf5%22%20data-name%3D%22Layer%202%22%2F%3E%3C%2Fsvg%3E");
  }
  .back-image_wavy-gray-diagonal {
    background-size: cover;
    min-height: calc(42vw + 6em);
  }
  .back-image_wavy-gray-diagonal .promo-event__main {
    width: 60%;
  }
  .back-image_dual-green::before, .back-image_dual-green::after {
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20879%20420.1%22%20style%3D%22enable-background%3Anew%200%200%20879%20420.1%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M879%20420.1H0v-381c1.3-.3%202.6-.4%203.8-.9C51.7%2019.2%20101.1%206.3%20152.6%202c38.3-3.3%2076.6-2.4%20114.7%202.6%2059.7%207.9%20114.1%2029.5%20163.9%2063.1%2035.6%2024%2067.9%2052.1%20100.1%2080.4%2035.9%2031.6%2071.7%2063.3%20110.6%2091.3%2028.7%2020.6%2058.1%2040.2%2086.1%2061.7%2050.1%2038.4%2099.4%2077.9%20149%20117%20.8.4%201.3%201.3%202%202z%22%20style%3D%22fill%3A%235f6551%22%2F%3E%3C%2Fsvg%3E");
    background-position: left bottom;
  }
  .back-image_dual-green::before, .back-image_dual-green::after {
    -webkit-filter: drop-shadow(20px 0 10px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(20px 0 10px rgba(0, 0, 0, 0.1));
  }
  .back-image_dual-green::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .back-image_dual-green .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -2em;
  }
  .back-image_dual-green .row > div {
    width: 50%;
    padding: 0 2em;
  }
  .back-image_tinted-purple, .back-image_tinted-blue {
    color: #fbfbf5;
    padding: 8em 0;
  }
}

@media (min-width: 61.25em) {
  .back-image_wavy-gray-diagonal::before, .back-image_wavy-gray-diagonal::after {
    background-size: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201740%20786.6%22%20style%3D%22enable-background%3Anew%200%200%201740%20786.6%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M0%20648.4V3.9C0%201.8%201.8%200%203.9%200h1732.2c2.2%200%203.9%201.8%203.9%203.9v302.7c0%202.8-3%204.8-5.5%203.5h-.1c-15.4-8.1-31.9-12.9-48.8-16.2-12.3-2.4-24.8-4.2-37.1-6.8-14.7-3.1-29.1-7.1-44.4-6.3-11.2.6-22.5-.2-33.7.2-7.6.3-15.2%201.2-22.6%202.6-15.4%202.8-27.7%2012.7-41.7%2018.7-7.3%203.2-15.1%205.8-22.9%207.3-6.8%201.4-14%20.8-21%201.2-14.3.9-27.5%205.2-38.7%2014.2-15.5%2012.4-32.5%2022.3-49.9%2031.8-15.1%208.2-29.5%2017.8-44.1%2027.1-16.7%2010.6-31.5%2023.9-50%2031.8-16.3%207-30.3%2017.1-42.2%2030.3-6.9%207.6-14.4%2014.8-22.1%2021.7-9.4%208.4-19.1%2014.4-28.9%2022.3-7.4%206.1-47.9%2016.4-56%2021.5-16.3%2010.2-63.7%2028.3-68.8%2030.9-12.7%206.5-78.1%2019.5-90.9%2025.8-17%208.4-30.9%2021.1-46%2032.3-7.2%205.4-14.3%2010.8-21.7%2015.8-16.1%2011.1-32.3%2022-48.6%2032.9-14.4%209.7-28.7%2019.7-43.5%2028.9-16.2%2010.1-31.7%209.8-48%2019.6-15.6%209.4-63.2%2030.6-80.8%2036.7-19.7%206.8-136.4%2028.9-156.6%2034.2-15.8%204.1-32.2%205.9-48.4%208.1-15.4%202.1-30.9%203.5-46.3%205.1-4.9.5-9.9.7-14.9%201.2-12.7%201.2-25.3%203-38%203.6s-93.2-3.5-104.9-8.7c-13.2-5.9-89.1-21.3-103.6-22.9-19-2.1-74.6-31.6-104.4-49.8-44.6-27.2-53.5-46.5-63.3-53.6-1-.6-1.6-1.9-1.6-3.2z%22%20style%3D%22fill%3A%23fbfbf5%22%2F%3E%3C%2Fsvg%3E");
    background-color: transparent;
  }
  .back-image_wavy-gray-diagonal_bicolor::before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201740%20786.6%22%20style%3D%22enable-background%3Anew%200%200%201740%20786.6%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M0%20648.4V3.9C0%201.8%201.8%200%203.9%200h1732.2c2.2%200%203.9%201.8%203.9%203.9v302.7c0%202.8-3%204.8-5.5%203.5h-.1c-15.4-8.1-31.9-12.9-48.8-16.2-12.3-2.4-24.8-4.2-37.1-6.8-14.7-3.1-29.1-7.1-44.4-6.3-11.2.6-22.5-.2-33.7.2-7.6.3-15.2%201.2-22.6%202.6-15.4%202.8-27.7%2012.7-41.7%2018.7-7.3%203.2-15.1%205.8-22.9%207.3-6.8%201.4-14%20.8-21%201.2-14.3.9-27.5%205.2-38.7%2014.2-15.5%2012.4-32.5%2022.3-49.9%2031.8-15.1%208.2-29.5%2017.8-44.1%2027.1-16.7%2010.6-31.5%2023.9-50%2031.8-16.3%207-30.3%2017.1-42.2%2030.3-6.9%207.6-14.4%2014.8-22.1%2021.7-9.4%208.4-19.1%2014.4-28.9%2022.3-7.4%206.1-47.9%2016.4-56%2021.5-16.3%2010.2-63.7%2028.3-68.8%2030.9-12.7%206.5-78.1%2019.5-90.9%2025.8-17%208.4-30.9%2021.1-46%2032.3-7.2%205.4-14.3%2010.8-21.7%2015.8-16.1%2011.1-32.3%2022-48.6%2032.9-14.4%209.7-28.7%2019.7-43.5%2028.9-16.2%2010.1-31.7%209.8-48%2019.6-15.6%209.4-63.2%2030.6-80.8%2036.7-19.7%206.8-136.4%2028.9-156.6%2034.2-15.8%204.1-32.2%205.9-48.4%208.1-15.4%202.1-30.9%203.5-46.3%205.1-4.9.5-9.9.7-14.9%201.2-12.7%201.2-25.3%203-38%203.6s-93.2-3.5-104.9-8.7c-13.2-5.9-89.1-21.3-103.6-22.9-19-2.1-74.6-31.6-104.4-49.8-44.6-27.2-53.5-46.5-63.3-53.6-1-.6-1.6-1.9-1.6-3.2z%22%20style%3D%22fill%3A%235f6551%22%2F%3E%3C%2Fsvg%3E");
  }
  .back-image_dual-green::before, .back-image_dual-green::after {
    background-size: auto 95%;
  }
}

@media (min-width: 100em) {
  .back-image_wavy-gray-diagonal {
    min-height: calc(42vw + 11em);
    padding: 5em 0;
  }
  .back-image_wavy-gray-diagonal .promo-event__main {
    width: 35%;
  }
}

/*
H1-6

Markup:
<div class="h1">H1</div>
<div class="h2">H2</div>
<div class="h3">H3</div>
<div class="h4">H4</div>
<div class="h5">H5</div>
<div class="h6">H6</div>

Styleguide Typography.H1-6
*/
.h1 {
  font-size: 3.25rem;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .h1 {
    font-size: 6rem;
  }
}

@media (min-width: 100em) {
  .h1 {
    font-size: 8rem;
  }
}

.h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .h2 {
    font-size: 4rem;
  }
}

@media (min-width: 100em) {
  .h2 {
    font-size: 6.25rem;
  }
}

.h3 {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .h3 {
    letter-spacing: 7px;
  }
}

@media (min-width: 64em) {
  .h3 {
    font-size: 3rem;
  }
}

@media (min-width: 100em) {
  .h3 {
    font-size: 4.67rem;
  }
}

.h4 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (min-width: 100em) {
  .h4 {
    font-size: 2.5rem;
  }
}

.h5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/*
Titles

Markup:
<div class="title {{modifier_class}} h1">
    <div class="title__main">Discover your<br/>next Hike</div>
    <div class="title__subtitle">Edge of the world</div>     
</div>

.title_center - center
.title_underlined - underlined
.title_color-main - color main
.title_color-green - color green

Styleguide Typography.Titles
*/
.title {
  font-family: 'Bebas Neue';
  line-height: 1;
  position: relative;
}

.title__subtitle {
  font-size: 0.5em;
  letter-spacing: 4px;
  display: block;
}

.title__main {
  display: block;
}

.title__main + .title__subtitle {
  margin: 0.25em 0;
  display: block;
}

.title_center {
  text-align: center;
}

.title_color-main {
  color: #32455f;
}

.title_color-green {
  color: #5f6551;
}

.title_underlined {
  margin-bottom: 1.5em;
}

.title_underlined::after {
  content: "";
  position: absolute;
  display: block;
  width: 2em;
  border-bottom: 9px solid currentColor;
  bottom: -0.5em;
}

.align-right .title_underlined::after {
  right: 0;
}

/*
Corner

Markup:
<div>
    <div class="corner {{modifier_class}}">Edge of the world</div> 
</div>

.corner_type-bl - bottom left corner
.corner_type-tr - top right corner

Styleguide Corner
*/
.corner {
  display: inline-block;
  position: relative;
}

.corner_type-bl::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
}

.corner_type-bl::before {
  border-left: solid 2px currentColor;
  border-bottom: solid 2px currentColor;
  left: -0.75rem;
  bottom: -0.75rem;
}

.corner_type-tr::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
}

.corner_type-tr::before {
  border-right: solid 2px currentColor;
  border-top: solid 2px currentColor;
  right: -0.75rem;
  top: -0.75rem;
}

@media (min-width: 48em) {
  .corner_type-bl::before {
    left: -1.25rem;
  }
  .corner_type-tr::before {
    right: -1.25rem;
  }
}

.text {
  letter-spacing: 0.05em;
  font-weight: 600;
}

.text .h1, .text .h2, .text .h3, .text .h4 {
  margin: 1em 0 0.5em;
}

.text .h1:first-child, .text .h2:first-child, .text .h3:first-child, .text .h4:first-child {
  margin-top: 0;
}

.text p {
  line-height: 1.5em;
  margin: 1em 0;
}

.text p:first-child {
  margin-top: 0;
}

.text ul li {
  margin: 0.5em 0;
}

@media (min-width: 100em) {
  .text .h4 {
    margin: 1em 0 0.5em;
  }
  .text p {
    line-height: 2em;
    margin: 1.5em 0;
  }
  .text ul li {
    margin: 1em 0;
  }
}

.box-underlined-above {
  padding: 2em 0 0 0;
  border-top: solid 1px #564b67;
  margin: 2em 0 0 0;
}

/*
Icons

Markup:
<span class="icon {{modifier_class}}">icon rounded</span>
<span class="icon icon_rounded {{modifier_class}}">icon rounded</span>  

.icon_mountains - mountains
.icon_man - man
.icon_backpack - backpack

Styleguide Icons
*/
.icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  text-indent: -99999999px;
  position: relative;
  width: 140px;
  height: 140px;
}

.icon::after {
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.icon_rounded {
  border-radius: 50%;
  background-color: #32455f;
}

.icon_rounded::after {
  -webkit-mask-size: 70%;
          mask-size: 70%;
  background-color: #fff;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
}

.icon_rounded.icon_backpack::after {
  -webkit-mask-size: 50%;
          mask-size: 50%;
}

.icon_mountains::after {
  -webkit-mask-image: url("../i/icon-mountains.svg");
          mask-image: url("../i/icon-mountains.svg");
}

.icon_backpack::after {
  -webkit-mask-image: url("../i/icon-backpack.svg");
          mask-image: url("../i/icon-backpack.svg");
}

.icon_man::after {
  -webkit-mask-image: url("../i/icon-man.svg");
          mask-image: url("../i/icon-man.svg");
}

.icon_center {
  margin: 0 auto;
}

/*
Event

Markup:
<div class="promo-event back-image back-image_tinted-purple" style="background-image:url('/i/big-photo.jpg');">
    <div class="container">
        <div class="row">
            <div class="promo-event__title">
                <h1 class="title h1 back-image__title">
                    <span class="title__main corner corner-tr">BIG BEND NATIONAL<br/>PARK hiking guide</span>
                    <span class="title__subtitle corner corner-bl">this hike is the next<br/>best option.</span>
                </h1>
            </div>         
            <div class="promo-event__date back-image__event">
                <div class="h3 title title_underlined">
                    <time datetime="2020-05-21">21.05.20</time>
                </div>
                <div>
                    <a href="#" class="button button-more button_color-back">see more</a>
                </div>            
            </div>          
        </div>
    </div>
</div>
 <div class="promo-event back-image back-image_wavy back-image_wavy-gray-diagonal"
      style="background-image:url('/i/group.jpg');">
      <div class="container">
        <div class="row">
          <div class="promo-event__main">
            <div class="title title_main-color h2 back-image__title promo-event__title">
                <h2 class="title__main"><span class="corner corner-bl"><span
                    class="corner corner-tr">Rock</span><br />Climbing</span>
                </h2>
              </div>
            <div class="text">
              <h3 class="h4 title">1. Classes & Events</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
              </p>
              <div class="box-underlined-above">
                <p>
                  <strong>10 modules <br />
                    divided into 7 weekends</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="promo-event__more">
            <div class="row">
              <div class="corner corner-bl">
                <h4 class="h4 title">
                  <time datetime="2020-09-28">28.09.20</time>
                </h4>
                <time class="promo-event__time" datetime="15:30">15.30 hs.</time>
              </div>
              <div class="promo-event__price">
                Price<br />
                $900
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

Styleguide Promo Event
*/
.promo-event .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-event__more {
  padding: 2em 0;
}

.promo-event__more .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.promo-event__more .promo-event__time {
  font-size: 1.5em;
  font-family: 'Bebas Neue';
  display: block;
}

.promo-event__title {
  margin-bottom: 1em;
}

.promo-event__price {
  font-size: 1.5em;
  font-weight: bold;
}

* + .promo-event__price {
  margin-left: 2em;
}

.promo-event_inversed .promo-event__main,
.promo-event_inversed .promo-event__more {
  text-align: right;
}

.promo-event_inversed .promo-event__main .title_underlined::after,
.promo-event_inversed .promo-event__more .title_underlined::after {
  right: 5px;
  left: auto;
}

.promo-event_inversed .promo-event__main .row,
.promo-event_inversed .promo-event__more .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 48em) {
  .promo-event__more {
    padding: 0;
  }
  .promo-event__more .title_underlined::after {
    left: 0px;
    right: auto;
  }
  .promo-event__more .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo-event__more .button {
    margin-right: -0.5em;
  }
  .promo-event__more_right {
    text-align: right;
  }
  .promo-event__more_right .title_underlined::after {
    right: 5px;
    left: auto;
  }
  .promo-event .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .promo-event_inversed .promo-event__more {
    text-align: left;
  }
  .promo-event_inversed .promo-event__more .title_underlined::after {
    left: 0px;
    right: auto;
  }
  .promo-event_inversed .promo-event__more .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .promo-event_inversed .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .promo-event_flex-end .row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/*
Day Card

Markup:
<div class="day-card">
    <h3 class="h4 title">Day 2.</h3>
    <div class="row wrap-row">
        <div class="day-card__description text">
        <ul class="dashed-ul">
            <li>Dolor sit amet consectetur</li>
            <li>Adipiscing elit aptent </li>
            <li>Torquent, interdum</li>
        </ul>
        </div>
        <span class="icon day-card__icon icon_rounded icon_backpack">mountains</span>              
    </div>
    <div class="box-underlined-above">
        <h4 class="h4 title">Lorem Consec Ipsum<br/>
        <time datetime="2020-09-28">28.09.20</time></h4>
        <time class="day-card__day-time" datetime="16:00">16.00 hs.</time>
        <div class="indicator indicator_fill-60">3/5</div>
    </div>
</div>

Styleguide Day Card
*/
.day-card {
  padding: 2em;
  -webkit-box-shadow: 0 5px 10px #aaa;
          box-shadow: 0 5px 10px #aaa;
  border-radius: 5px;
  color: #32455f;
  width: 100%;
}

.day-card + .day-card {
  margin-top: 2em;
}

.day-card__day-time {
  font-family: 'Bebas Neue';
  display: block;
}

.day-card__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  padding-right: 1em;
}

.day-card__icon {
  margin: 0 auto;
}

.day-card__day-time {
  font-size: 1.5em;
  margin: 0.5em 0;
}

@media (min-width: 61.25em) {
  .day-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
  .day-card + .day-card {
    margin-left: 5vw;
    margin-top: 0;
  }
  .day-card__description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
}

/*
Lists

Markup:
<ul class="{{modifier_class}}">
    <li>Dolor sit amet consectetur</li>
    <li>Adipiscing elit aptent </li>
    <li>Torquent, interdum</li>
</ul>

.list-dashed - dashed list
.list-vertical-nav - vertical nav list

Styleguide Lists
*/
.list-dashed {
  margin-left: 1em;
  list-style-type: none;
  font-family: 'Raleway';
  font-size: 1rem;
}

.list-dashed li {
  position: relative;
}

.list-dashed li::before {
  content: "-";
  position: absolute;
  left: -1em;
}

@media (min-width: 100em) {
  .list-dashed {
    font-size: 1.25rem;
  }
}

.list-vertical-nav {
  list-style-type: none;
}

.list-vertical-nav li {
  display: block;
  margin: 0.5em 0;
}

/*
Indicator

Markup:
<div class="indicator {{modifier_class}}">n/5</div>

.indicator_fill-20 - man
.indicator_fill-40 - backpack
.indicator_fill-60 - mountains
.indicator_fill-80 - man
.indicator_fill-100 - backpack

Styleguide Indicator
*/
.indicator {
  display: inline-block;
  width: 110px;
  text-indent: 110px;
  margin-right: 30px;
  position: relative;
  background: url('data:image/svg+xml; utf8, <svg height="22" width="22" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="4" stroke="%2332455f" fill="transparent" stroke-width="1"></circle></svg>') 0 -100% repeat-x;
  font-family: 'Raleway';
  font-weight: bold;
}

.indicator::after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: url('data:image/svg+xml; utf8, <svg height="22" width="22" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="4" stroke="%2332455f" fill="32455f" stroke-width="1"></circle></svg>') 0 -100% repeat-x;
}

.indicator_fill-20::after {
  width: 20%;
}

.indicator_fill-40::after {
  width: 40%;
}

.indicator_fill-60::after {
  width: 60%;
}

.indicator_fill-80::after {
  width: 80%;
}

.indicator_fill-100::after {
  width: 100%;
}

/*
Mini Cards

Markup:
<div class="mini-cards">
      <div class="container">       
        <div class="row mini-cards__container">
          <div class="mini-card {{modifier_class}}">
            <img alt="mini-card 1" src="../i/place1.jpg" width="270" height="270" />
            <h3 class="h4 title mini-card__title">Mountain Loop</h3>
            <div class="text">
              <p>Lorem ipsum sit amet, 
                consectetur  adipisicing...</p>
                <div class="box-underlined-above">
                  <p>
                    <strong>Location 0.3 miles.</strong>
                  </p>
                </div> 
            </div>                      
          </div>
          <div class="mini-card {{modifier_class}}">
            <img alt="mini-card 1" src="../i/place2.jpg" width="270" height="270" />
            <h3 class="h4 title mini-card__title">National Park</h3>
            <div class="text">              
              <p>Lorem ipsum sit amet, 
                consectetur  adipisicing...</p>
                <div class="box-underlined-above">
                  <p>
                    <strong>Location 0.3 miles.</strong>
                  </p>
                </div>   
            </div>                     
          </div>
          <div class="mini-card {{modifier_class}}">
            <img alt="mini-card 1" src="../i/place3.jpg" width="270" height="270" />
            <h3 class="h4 title mini-card__title">Canyon Trail</h3>
            <div class="text">              
              <p>Lorem ipsum sit amet, 
                consectetur  adipisicing...</p>
                <div class="box-underlined-above">
                  <p>
                    <strong>Location 0.3 miles.</strong>
                  </p>
                </div>  
            </div>                      
          </div>
        </div>        
      </div>
    </div>

.mini-card_center - center

Styleguide Mini Card
*/
.mini-cards__container {
  margin: 0 -2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mini-card {
  padding: 0 2em;
  max-width: 300px;
  margin: 1.5em 0;
}

.mini-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.mini-card__title {
  margin: 1em 0;
}

.mini-card_center {
  text-align: center;
}

/*
Decrease

Markup:
<div class="decrease">
    A<span>B<span>C<span>D</span></span></span>
</div>

Styleguide Decrease
*/
.decrease {
  font-family: 'Bebas Neue';
  font-size: 6em;
}

.decrease span {
  display: inline-block;
  font-size: 0.6em;
  margin-left: calc(2rem - 0.5em);
}

/*
Footer

Markup:
 <footer class="info-tile footer">
    <div class="container">
      <div class="row">
        <div class="col text">          
          <p>
            Lorem ipsum dolor sit amet, consec
            tetur adipisicing elit, sed do eiusmod tempor incididunt ultimam quantum Lorem ipsum dolor sit amet, consec
            tetur adipisicing elit, sed do eiusmod tempor incididunt ultimam quantum Lorem ipsum dolor sit amet, consec          
          </p>
        </div>
        <div class="col row">
          <div class="col">
            Lorem ipsum 
          </div>
          <div class="col">
            Lorem ipsum 
          </div>
          <div class="col">
            Lorem ipsum 
          </div>
        </div>
      </div>
      <div>
        <a class="logo" href="#" alt="Hiking Life Logo">Hiking <span>Life</span></a>
      </div>
    </div>
  </footer>

Styleguide Footer
*/
.footer {
  border-bottom: 1em solid #5f6551;
}

.footer .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -2em;
}

.footer .row .col {
  padding: 0 2em;
}

.footer, .footer a {
  color: #5f6551;
}

.footer .logo {
  color: #32455f;
  margin: 2em 0 0;
}
