@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/open-sans/Light/OpenSans-Light.eot');
  src: url('../fonts/open-sans/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/Light/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/open-sans/Light/OpenSans-Light.woff') format('woff'),
       url('../fonts/open-sans/Light/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/open-sans/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2') format('woff2'),
       url('../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff') format('woff'),
       url('../fonts/open-sans/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
       url('../fonts/open-sans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/open-sans/Regular/OpenSans-Regular.eot');
  src: url('../fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/Regular/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/open-sans/Regular/OpenSans-Regular.woff') format('woff'),
       url('../fonts/open-sans/Regular/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/open-sans/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/open-sans/Italic/OpenSans-Italic.eot');
  src: url('../fonts/open-sans/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/Italic/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/open-sans/Italic/OpenSans-Italic.woff') format('woff'),
       url('../fonts/open-sans/Italic/OpenSans-Italic.ttf') format('truetype'),
       url('../fonts/open-sans/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/open-sans/Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/Semibold/OpenSans-Semibold.woff2') format('woff2'),
       url('../fonts/open-sans/Semibold/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/open-sans/Semibold/OpenSans-Semibold.ttf') format('truetype'),
       url('../fonts/open-sans/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/open-sans/Bold/OpenSans-Bold.eot');
  src: url('../fonts/open-sans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/Bold/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/open-sans/Bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/open-sans/Bold/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/open-sans/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2') format('woff2'),
       url('../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
       url('../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
       url('../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url('../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
}



/* nunito-cyrillic-ext-400-normal*/
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/nunito/files/nunito-cyrillic-ext-400-normal.woff2') format('woff2'), url('../fonts/nunito/files/nunito-all-400-normal.woff') format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* nunito-cyrillic-400-normal*/
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/nunito/files/nunito-cyrillic-400-normal.woff2') format('woff2'), url('../fonts/nunito/files/nunito-all-400-normal.woff') format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* nunito-latin-ext-400-normal*/
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap; 
    font-weight: 400;
    src: url('../fonts/nunito/files/nunito-latin-ext-400-normal.woff2') format('woff2'), url('../fonts/nunito/files/nunito-all-400-normal.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* nunito-latin-400-normal*/
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/nunito/files/nunito-latin-400-normal.woff2') format('woff2'), url('../fonts/nunito/files/nunito-all-400-normal.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../fonts/nunito/files/nunito-latin-700-normal.woff2') format('woff2'), url('../fonts/nunito/files/nunito-all-700-normal.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('../fonts/nunito/files/nunito-latin-900-normal.woff2') format('woff2'), url('../fonts/nunito/files/nunito-all-900-normal.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* bebas-neue-latin-ext-400-normal*/
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/bebas-neue/files/bebas-neue-latin-ext-400-normal.woff2') format('woff2'), url('../fonts/bebas-neue/files/bebas-neue-all-400-normal.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* bebas-neue-latin-400-normal*/
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-display: swap;
    font-weight: 400; 
    src: url('../fonts/bebas-neue/files/bebas-neue-latin-400-normal.woff2') format('woff2'), url('../fonts/bebas-neue/files/bebas-neue-all-400-normal.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

//not critical
/* raleway-latin-100-normal*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url('../fonts/raleway/files/raleway-latin-100-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-100-normal.woff') format('woff');
    
  }
  /* raleway-latin-200-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('../fonts/raleway/files/raleway-latin-200-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-200-normal.woff') format('woff');
    
  }
  /* raleway-latin-300-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('../fonts/raleway/files/raleway-latin-300-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-300-normal.woff') format('woff');
    
  }
  /* raleway-latin-400-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/raleway/files/raleway-latin-400-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-400-normal.woff') format('woff');
    
  }
  /* raleway-latin-500-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/raleway/files/raleway-latin-500-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-500-normal.woff') format('woff');
    
  }
  /* raleway-latin-600-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/raleway/files/raleway-latin-600-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-600-normal.woff') format('woff');
    
  }
  /* raleway-latin-700-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../fonts/raleway/files/raleway-latin-700-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-700-normal.woff') format('woff');
    
  }
  /* raleway-latin-800-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('../fonts/raleway/files/raleway-latin-800-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-800-normal.woff') format('woff');
    
  }
  /* raleway-latin-900-normal*/
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('../fonts/raleway/files/raleway-latin-900-normal.woff2') format('woff2'), url('../fonts/raleway/files/raleway-latin-900-normal.woff') format('woff');
    
  }
  