/*
Button

Markup:
<a href="#" class="button {{modifier_class}}">see more</a>

.button-rounded - rounded

Styleguide Button
*/
.button{
    display:inline-block;    
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito';
    font-weight: 700;
    padding:0.25em 2em;   
    text-align: center;
    letter-spacing: 3px;  
    transition: all .1s linear;  
       
    background-color: $main-back-color;
    color:$main-color;    
    &:hover{                     
        background-color: darken($main-back-color, 10%);;       
    }    
    
    .align-right &{
        margin-right:-1em;
    }
    
    &:active{
        transform: scale(.96);            
    }
    &-rounded{
        border-radius: 1em;
    }    
}