/*
Button

Markup:
<a href="#" class="button {{modifier_class}}">see more</a>

.button_rounded - rounded
.button_color-tint - tint
.button_color-green - green

Styleguide Button
*/
.button{
    display:inline-block;    
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito';
    font-weight: 700;
    padding:0.25em 2em;   
    text-align: center;
    letter-spacing: 3px;  
    transition: all .1s linear;  
       
    background-color: $main-back-color;
    color:$main-color;     
    
    &:hover{                     
        background-color: darken($main-back-color, 10%);;       
    } 
    
    .align-right &{
        margin-right:-1em;
    }
    
    &:active{
        transform: scale(.96);  
        user-select: none;          
    }
    &_rounded{
        border-radius: 1em;
    }    
    &_color-tint{
        background-color: var(--tint-color-text);
        color:$main-back-color;
        &:hover{                     
            background-color: var(--tint-color-text-hover);       
        }
    }
    &_color-green{
        background-color: $dark-green-color;
        color:$main-back-color;
        &:hover{                     
            background-color: darken($dark-green-color, 10%);;       
        }
    }
   
}