/*
Corner

Markup:
<div>
    <div class="corner corner-tr">Edge of the world</div> 
</div>
<div>
    <div class="corner corner-bl">Edge of the world</div>
</div>

Styleguide Corner
*/
$corner-line-width: 2px;
.corner{
    display:inline-block;
    position:relative;
   
    &-bl{
        @include corner;
        &::before{            
            border-left:solid $corner-line-width currentColor;
            border-bottom:solid $corner-line-width currentColor;
            left: -0.75rem;
            bottom: -0.75rem;
        }
    }
    &-tr{
        @include corner;
        &::before{            
            border-right:solid $corner-line-width currentColor;
            border-top:solid $corner-line-width currentColor;
            right: -0.75rem;
            top: -0.75rem;
        }
    }
    @include forLargeScreens(768) {  
        &-bl{
            &::before{  
                left: -1.25rem;   
            }
        }
        &-tr{
            &::before{ 
                right: -1.25rem;    
            }

        }
    }
}