/*
Day Card

Markup:
<div class="day-card">
    <h3 class="h4 title">Day 2.</h3>
    <div class="row wrap-row">
        <div class="day-card__description text">
        <ul class="dashed-ul">
            <li>Dolor sit amet consectetur</li>
            <li>Adipiscing elit aptent </li>
            <li>Torquent, interdum</li>
        </ul>
        </div>
        <span class="icon day-card__icon icon_rounded icon_backpack">mountains</span>              
    </div>
    <div class="box-underlined-above">
        <h4 class="h4 title">Lorem Consec Ipsum<br/>
        <time datetime="2020-09-28">28.09.20</time></h4>
        <time class="day-card__day-time" datetime="16:00">16.00 hs.</time>
        <div class="indicator indicator_fill-60">3/5</div>
    </div>
</div>

Styleguide Day Card
*/


.day-card{
    padding:2em;
    box-shadow: 0 5px 10px var(--box-shadow-color);
    border-radius:5px;
    color:$main-color; 
    width:100%;    
      
    & + & {
        margin-top:2em;
    }   
    &__day-time{
        font-family: 'Bebas Neue';        
        display:block;
    }       
    &__description{               
        flex:1;
        width:auto;    
        padding-right:1em;          
    }
    &__icon{
        margin:0 auto;
    }    
    &__day-time{
        font-size:1.5em;
        margin:0.5em 0;
    }    
}
@include forLargeScreens(980) { 
    .day-card{
        flex:1;    
        width:auto;
        & + & {
            margin-left: 5vw;
            margin-top:0;
        } 
        &__description{
            flex:1;
            width:auto;
        }
    }     
}
@media (prefers-color-scheme: dark) {
    .day-card{
        background: var(--main-background-lighter-color);
    }
}