/*
Text Input

Markup:
<form>
    <div class="text-field form-field">
        <input placeholder="Text" class="text-field__text" type="text"/>              
    </div>
    <div class="text-field form-field">
        <input placeholder="Search" class="text-field__text text-field__text_has-icon" type="text"/>
        <button class="text-field__icon text-field__icon_search">Search</button>
    </div>
</form>

Styleguide Form.Elements
*/
$search-url: '#{$images-path}/search.png'; /*to-do: replace svg*/
$input-text-height: 3em;
$field-interval: 2em;
$text-field-paddings: 1em;

.text-field{
    position:relative;
    &__text {
        height: $input-text-height;
        line-height: $input-text-height;
        border-radius: $input-text-height;
        box-shadow:  inset 0 0.5em 0.5em 0 #ddd;
        
        width: 100%;
        border:none;
        padding:0 $text-field-paddings;   
        &_has-icon{
            padding-right:$text-field-paddings*3.5;
        }     
    }   
    &__icon{
        position: absolute;
        z-index:1;
        right:$text-field-paddings;
        height:100%;
        &_search{
            text-indent: -9999px;
            width:$text-field-paddings*2;            
            background-image: url($search-url);
            background-repeat: no-repeat;
            background-position: center center;          
        }
    }
    button{
        &:hover{

        }
        &:active{
            transform: scale(.96);            
        }
    }
}

.form-field + .form-field {
    margin-top: $field-interval;
}