.container {      
    width:100%;
    padding: 0 1em;
    max-width: 1600px;
    margin:0 auto;
}
.row{    
    display: flex; 
    margin: 0 -$grid-col-between;   
}
.col{
    margin:0 $grid-col-between;
}