.container {      
    width:100%;    
    max-width: 1600px;
    margin:0 auto;
    position:relative;
    padding:0 1em;
    @include forLargeScreens(768) {       
        padding:0 2em;
    }
}
.row{    
    display: flex;    
    position:relative;
}
.col{
    
}