/*
Logo

Markup:
<div class="logo">Hiking <span>Life</span></div>

Styleguide Logo
*/
$logo-width: 35px;
$logo-height: 60px;
$logo-url: '<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.617 13.401"><path d="M9.12.2c.288.357 1.752 2.501 2.62 3.756.469.676.914 1.367 1.385 2.04a5.088 5.088 0 00.537.55c.597-.866 1.149-1.661 1.694-2.46.176-.258.315-.545.509-.788a.797.797 0 011.41.055c.736 1.017 1.44 2.056 2.157 3.087.268.387.54.771.79 1.17.072.113.181.29.105.41a.39.39 0 01-.432.082c-.703-.64-1.838-.459-2.445-1.312-.106-.15-.515-.093-.786-.116-.58-.051-1.183.17-1.74-.215a.449.449 0 00-.615.212c-.125.199-.229.41-.337.609.275.38.537.775.81 1.157.366.51.056 1.032-.17.802-.13-.134-1.165-1.691-1.687-2.449a.782.782 0 00-1.028-.387 1.78 1.78 0 01-1.747-.492 9.29 9.29 0 00-.766-.543A1.461 1.461 0 007.75 5.27a2.796 2.796 0 01-1.375.194 1.188 1.188 0 00-1.336.728c-.121.257-.403.522-.58.435-.375-.184-.092-.548.09-.816.791-1.166 1.57-2.34 2.366-3.504C7.399 1.596 8.245.389 8.4.2a.424.424 0 01.72 0zM5.979 4.774a2.465 2.465 0 00.764.198 3.893 3.893 0 00.88-.29 2.223 2.223 0 012.335.311c.246.194.515.359.772.539a1.202 1.202 0 001.362.028L8.871.939a.125.125 0 00-.205 0zM19.033 6.97a30.272 30.272 0 00-2.326-3.286.227.227 0 00-.366.055 11.179 11.179 0 00-1.235 2.087c.458.237.795.495 1.347.215a1.482 1.482 0 011.628.385 5.473 5.473 0 00.952.544z" style="fill:COLOR"/><path d="M.159 12.292a98.676 98.676 0 012.886-4.299c.109-.14.17-.287.244-.369.097-.107.315-.222.45-.157.164.081.12.356.064.495a4.31 4.31 0 01-.496.798c-.628.916-1.258 1.83-1.913 2.78a.697.697 0 00.57 1.093h14.457a.248.248 0 00.206-.387 9.287 9.287 0 01-1.405-2.43c.175-.477.528-.049.73.25.542.806 1.064 1.626 1.615 2.476a.253.253 0 00.21.116h4.74a.189.189 0 00.151-.296c-.651-.971-1.247-1.88-1.875-2.765-.082-.115-.285-.417-.132-.538.612-.485 2.104 2.37 2.833 3.469.425.642-.358.872-.747.872H.578a.568.568 0 01-.577-.577 1.067 1.067 0 01.158-.531z" style="fill:COLOR"/></svg>';

.logo {
    display:block;
    font-family: 'Open Sans';    
    padding-left: calc(#{$logo-width} + 0.5em);
    color: var(--main-color);
    position:relative;
    white-space: nowrap;    
    span{
        font-weight: bold;
    }

    @include dont-text-decoration-a;

    &::before{       
        content:'';
        background-image: inline-svg(str-replace($logo-url, 'COLOR', $main-color)); 
        background-repeat: no-repeat;        
        position: absolute;
        width: $logo-width;
        height: $logo-height;        
        left: 0;
        margin-top:-0.25em;
        @media (prefers-color-scheme: dark) {
            &{
                background-image: inline-svg(str-replace($logo-url, 'COLOR', $main-back-color));
            }
        } 
    }    
}
a.logo{
    text-decoration: none;
    &:hover{
        color: var(--main-color);
    }
}

@include forLargeScreens(380) {   
    .logo{
        font-size: 1.2em;
        padding-left: calc(#{$logo-width*1.2} + 0.5em);
        &::before{
            width: $logo-width*1.2;
            height: $logo-height*1.2;    
        }
    }   
}
@include forLargeScreens(768) {   
    .logo{
        font-size: 2em;
        padding-left: calc(#{$logo-width*2} + 0.5em);
        &::before{
            width: $logo-width*2;
            height: $logo-height*2;    
        }
    }
}