html, body {
    overflow-x: hidden;
    width: 100%;
}
body{
    background-color: #fbfbf5;
    overflow-x:hidden;
    color:#32455f;
    font-family: 'Raleway';   
}
a{
    color:$main-color;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }    
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
button{
    padding:0;
    border:none;
    background-color: transparent;
    cursor:pointer;
}
.promo-main{
    margin-top: -7em;
    padding-top: 9em;
   
    @include forLargeScreens(768) {      
        margin-top:-10vw;
        padding-top:10vw;
        &.back-image_wavy{
            min-height: calc((53vw));
            padding-top: calc(10vw);    
        }
    }            
}
.info-tile{
    padding:2em 0;
    @include forLargeScreens(768) {      
        padding:5em 0;
    }
}
.tint{
    color:$tint-color;
}
.green{
    color:$dark-green-color;
}
.line{
    border-bottom:1px solid $dark-green-color;
}