body{
    background-color: #fbfbf5;
    overflow-x:hidden;
}
a{
    color:$main-color;
    &:hover{
        
    }
}

button{
    padding:0;
    border:none;
    background-color: transparent;
    cursor:pointer;
}
.promo-main{
    margin-top:-150px;
}