/*
Logo

Markup:
<div class="logo">Hiking <strong>Life</strong></div>

Styleguide Media.Logo
*/
.logo {
    display:block;
    font-family: 'Open Sans';    
    padding-left: calc(#{$logo-width} + 0.5em);
    color: $main-color;
    position:relative;
    white-space: nowrap;    

    @include dont-text-decoration-a;

    &::before{
        content: url('data:image/svg+xml; utf8, #{$logo-url}');
        position: absolute;
        width: $logo-width;
        height: $logo-height;        
        left: 0;
        margin-top:-0.25em;
    }
    @include forLargeScreens(380) {   
        font-size: 1.2em;
        padding-left: calc(#{$logo-width*1.2} + 0.5em);
        &::before{
            width: $logo-width*1.2;
            height: $logo-height*1.2;    
        }
    }
    @include forLargeScreens(768) {   
        font-size: 1.5em;
        padding-left: calc(#{$logo-width*1.5} + 0.5em);
        &::before{
            width: $logo-width*1.5;
            height: $logo-height*1.5;    
        }
    }
}
a.logo{
    text-decoration: none;
}

/*
Back Image

Markup:
<div class="back-image {{modifier_class}}" style="background-image:url('/i/main.jpg');">Text...</div>

.back-image_wavy-gray - gray wavy
.back-image_wavy-gray-diagonal - gray diagonal wavy
.back-image_wavy-green - green wavy
.back-image_dual-green - green with two corner waves
.back-image_tinted-purple - purple tinted
.back-image_tinted-blue - blue tinted

Styleguide Media.Back Image
*/
.back-image{    
    background-position: center bottom;
    background-repeat: no-repeat;  
    min-height:calc(100vw + 2em);
    position:relative;
    background-size: 250%;       
    
    &_wavy-gray{        
        &::before{
            @include absolute;
            background-image: url($wave-gray-url), url($wave-gray-url);
            background-repeat: no-repeat, no-repeat;           
            background-position: center top, center $wave-distance+px;
            background-size: 130%, 130%;
        }        
    }
    &_wavy-gray-diagonal{        
        &::before{
            @include absolute;
            background-image: url($wave-gray-diagonal-url);
            background-repeat: no-repeat;
            background-position: left top;                                    
        }
        &::after{
            @include absolute;
            background-image: url($wave-gray-diagonal-url);
            background-repeat: no-repeat;
            background-position: left top;                            
        }
    }
    &_wavy-green{        
        &::before{
            @include absolute;
            background-image: url($wave-green-gray-url), url($wave-green-url);
            background-repeat: no-repeat, no-repeat;
            background-position: center top, center $wave-distance+px;       
        }
    }    
    &_dual-green{
        background: $dark-green-color;
        background-image: none !important;        
        &::before{
            @include absolute;
            background-image: url($green-corner-url);
            background-repeat: no-repeat;
            background-position: right top;             
        }
        &::after{
            @include absolute;
            background-image: url($green-corner-url);
            background-repeat: no-repeat;
            background-position: right top;     
            transform: rotate(180deg);       
        }
    }    
    &_tinted-purple{        
        &::before{
            @include absolute;
            background: $tint-color;
            opacity: $tint-opacity;
        }
    }
    &_tinted-blue{
        &::before{
            @include absolute;
            background: $main-color;
            opacity: $tint-opacity;
        }
    }

    @include forLargeScreens(380) {       
        
    }
    @include forLargeScreens(768) {               
        min-height: calc(1.2*(20vw + 200px));
        background-size: contain;
        
        &_wavy-gray{        
            &::before{
                background-position: center top, center $wave-distance-desktop+px;  
            }
        }
    }  
    @include forLargeScreens(980) {       
        min-height: calc(1.15*(15vw + 300px));
    }
    @include forLargeScreens(1024) {        
        min-height: calc(1.15*(18vw + 320px));
    }
    @include forLargeScreens(1380) {        
        min-height: calc((20vw + 450px));           
    }
    @include forLargeScreens(1600) { 
        min-height: calc((20vw + 550px));
    }
}