/*
Event

Markup:
<div class="promo-event back-image back-image_tinted-purple" style="background-image:url('/i/big-photo.jpg');">
    <div class="container">
        <div class="row">
            <div class="promo-event__title">
                <h1 class="title h1 back-image__title">
                    <span class="title__main corner corner-tr">BIG BEND NATIONAL<br/>PARK hiking guide</span>
                    <span class="title__subtitle corner corner-bl">this hike is the next<br/>best option.</span>
                </h1>
            </div>         
            <div class="promo-event__date back-image__event">
                <div class="h3 title title_underlined">
                    <time datetime="2020-05-21">21.05.20</time>
                </div>
                <div>
                    <a href="#" class="button button-more button_color-back">see more</a>
                </div>            
            </div>          
        </div>
    </div>
</div>
 <div class="promo-event back-image back-image_wavy back-image_wavy-gray-diagonal"
      style="background-image:url('/i/group.jpg');">
      <div class="container">
        <div class="row">
          <div class="promo-event__main">
            <div class="title title_main-color h2 back-image__title promo-event__title">
                <h2 class="title__main"><span class="corner corner-bl"><span
                    class="corner corner-tr">Rock</span><br />Climbing</span>
                </h2>
              </div>
            <div class="text">
              <h3 class="h4 title">1. Classes & Events</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
              </p>
              <div class="box-underlined-above">
                <p>
                  <strong>10 modules <br />
                    divided into 7 weekends</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="promo-event__more">
            <div class="row">
              <div class="corner corner-bl">
                <h4 class="h4 title">
                  <time datetime="2020-09-28">28.09.20</time>
                </h4>
                <time class="promo-event__time" datetime="15:30">15.30 hs.</time>
              </div>
              <div class="promo-event__price">
                Price<br />
                $900
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

Styleguide Promo Event
*/
.promo-event {
    $p: &;

    .row {
        flex-direction: column;
        justify-content: space-between;
    }

    &__more {
        padding: 2em 0;

        .row {
            flex-direction: row;
            justify-content: flex-start;
        }

        #{$p}__time {
            font-size: 1.5em;
            font-family: 'Bebas Neue';
            display: block;
        }
    }

    &__title {
        margin-bottom: 1em;
    }

    &__price {
        font-size: 1.5em;
        font-weight: bold;

        *+& {
            margin-left: 2em;
        }
    }

    &_inversed {

        #{$p}__main,
        #{$p}__more {
            text-align: right;

            .title {
                &_underlined {
                    &::after {
                        right: 5px;
                        left: auto;
                    }
                }
            }

            .row {
                justify-content: flex-end;
            }
        }
    }
}

@include forLargeScreens(768) {
    .promo-event {
        $p: &;

        &__more {
            padding: 0;

            .title {
                &_underlined {
                    &::after {
                        left: 0px;
                        right: auto;
                    }
                }
            }

            .row {
                flex-direction: column;
            }

            .button {
                margin-right: -0.5em;
            }

            &_right {
                text-align: right;

                .title {
                    &_underlined {
                        &::after {
                            right: 5px;
                            left: auto;
                        }
                    }
                }
            }
        }

        .row {
            flex-direction: row;
        }

        &_inversed {
            #{$p}__more {
                text-align: left;

                .title {
                    &_underlined {
                        &::after {
                            left: 0px;
                            right: auto;
                        }
                    }
                }

                .row {
                    flex-direction: row;
                }
            }

            .row {
                flex-direction: row-reverse;
            }
        }

        &_flex-end {
            .row {
                align-items: flex-end;
            }
        }
    }
}