/*
H1-6

Markup:
<div class="h1">H1</div>
<div class="h2">H2</div>
<div class="h3">H3</div>
<div class="h4">H4</div>
<div class="h5">H5</div>
<div class="h6">H6</div>

Styleguide Typography.H1-6
*/
.h1{
    font-size: 3.25rem;   
    letter-spacing: 6px;  
    @include forLargeScreens(1024) {        
        font-size: 6rem;
    }
    @include forLargeScreens(1600) { 
        font-size: 8rem;
    }
}
.h2{
    font-size: 3rem;    
    @include forLargeScreens(1024) {        
        font-size: 4rem;
    }
    @include forLargeScreens(1600) { 
        font-size: 6.25rem;
    }
}
.h3{
    font-size:2rem;   
    letter-spacing: 3px; 
    @include forLargeScreens(768) {  
        letter-spacing: 7px; 
    }
    @include forLargeScreens(1024) {        
        font-size:3rem;
    }
    @include forLargeScreens(1600) { 
        font-size: 4.67rem;
    }
}
.h4{
    font-size:1.75rem;  
    letter-spacing: 3px; 
    @include forLargeScreens(1600) {        
        font-size:2.5rem;  
    } 
}
.h5{

}
/*
Titles

Markup:
<div class="title {{modifier_class}} h1">
    <div class="title__main">Discover your<br/>next Hike</div>
    <div class="title__subtitle">Edge of the world</div>     
</div>

.title_underlined - underlined

Styleguide Typography.Titles
*/
.title {    
    font-family: 'Bebas Neue'; 
    line-height:1;      
    position:relative;   
    display: inline-block;
    
    &__subtitle{
        font-size: 0.5em;
        letter-spacing:4px;   
        display:block;    
    }   
    &__main{
        display:block;    
    }
    &__main + &__subtitle{ 
        margin:0.25em 0;
        display: block;
    }
    &_main-color{
        color:$main-color;        
    }         
    &_underlined{
        margin-bottom:1.5em;
        &::after{
            content:"";
            position: absolute;
            display:block;
            width:2em;
            border-bottom: 9px solid currentColor;
            bottom: -0.5em;
            .align-right &{
                right:0;
            }
        }
    }
} 