@mixin clearfix{
    &::before {
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    } 
}
@mixin absolute{
    &{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;                
    }
}
@mixin absolute-wider{
    &{
        content: '';
        position: absolute;
        left: -0.5em;
        right: -0.5em;
        top: -0.5em;
        width: calc(100% + 1em); 
        height: calc(100% + 1em);                
    }
}
@mixin dont-text-decoration-a{
    a{
        text-decoration: none;
    }
}

@mixin forLargeScreens($media) {
    @media (min-width: $media/16+em) { @content; }
}
@mixin wave-shadow{
    &{
        filter: drop-shadow( 0 20px 10px rgba(0, 0, 0, .1));
    }
}
@mixin corner{
    &::before{
        position:absolute;
        content:"";        
        width:2rem;
        height:2rem;        
    }
}
@mixin absolute-full{
    &{
        content:'';
        position:absolute;            
        display:block;
        width:100%;
        height:100%;     
        top:0;
        left:0;   
    }
}