$images-path:'/i';

$main-color: #32455f;
$main-color-val: str-slice(#{$main-color}, 2);

$main-back-color:#fbfbf5;

$dark-green-color: #4a4e3f;

$main-color-darker:mix(black,$main-back-color, 3%);


$wave-gray-url: '#{$images-path}/shape.svg';
$wave-gray-diagonal-url: '#{$images-path}/shape-diagonal.png';
$wave-green-url: '#{$images-path}/shape-green.png';
$wave-green-gray-url: '#{$images-path}/shape3.png';

$wave-distance: 25;
$wave-distance-desktop: 40;


$tint-color: #564b67;
$tint-opacity:74%;

$green-corner-url:'#{$images-path}/top-right-shape.png';  

$search-url: '#{$images-path}/search.png';

$input-text-height: 3em;

$field-interval: 2em;
$text-field-paddings: 1em;

$grid-col-between: 1em;

$main-nav-list-width: 300px;


