$images-path:'../i';

$main-color: #32455f;
$main-color-val: str-slice(#{$main-color}, 2);

$main-back-color:#fbfbf5;

$dark-green-color: #5f6551;
$back-green-color:#4a4e3f;

$main-color-darker:mix(black,$main-back-color, 3%);

$tint-color: #564b67;
$highlight-color:#49AB94;
$tint-opacity:74%;

$green-corner-url:'#{$images-path}/top-right-shape.png';  

$grid-col-between: 1em;

$main-nav-list-width: 300px;


